
.basel-products-element {
	position: relative;

	.basel-products-loader {

	    &:after {
	    	position: fixed;
	    	bottom: auto;
		    top: 50%;
		    margin-top: -18px;
	    }
	}

	&.element-loading {

		.basel-products-loader {

			&:after {
		        opacity:1;
		        visibility: visible;
			}

			&.hidden-loader {

		    	&:after {
					opacity: 0;
		    		visibility: hidden;
		    		-webkit-transition: all 0.1s ease-in-out;
				    -moz-transition: all 0.1s ease-in-out;
				    -o-transition: all 0.1s ease-in-out;
				    transition: all 0.1s ease-in-out;
		    	}
		    }
		}
	}
}

.pagination-arrows {
	position: relative;
	opacity: 1;

	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);

	transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;

	&.loading {
		opacity: 0;
		-o-transform: translate3d(0, 30px, 0);
		-moz-transform: translate3d(0, 30px, 0);
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}

	.product-grid-item {
		margin-bottom: 40px;
	}
}

.basel-products-load-prev,
.basel-products-load-next {
	position: fixed;
    top: 50%;
    margin-top: -20px;
    opacity:0;
    visibility:hidden;
    font-size: 0px;
    width: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1;
    border: none;
    background-color: transparent;
    color: black;
    border-color: transparent;
	transition: 0.3s transform cubic-bezier(0.175,0.885,0.320,1.15), opacity 0.2s ease, visibility 0.2s ease;
	-o-transition: 0.3s transform cubic-bezier(0.175,0.885,0.320,1.15), opacity 0.2s ease, visibility 0.2s ease;
	-moz-transition: 0.3s transform cubic-bezier(0.175,0.885,0.320,1.15), opacity 0.2s ease, visibility 0.2s ease;
	-webkit-transition: 0.3s transform cubic-bezier(0.175,0.885,0.320,1.15), opacity 0.2s ease, visibility 0.2s ease;

    &:after {
    	content: "\e605";
    	font-size: 36px;
    	line-height: 40px;
    	font-weight: 100;
    	font-family: 'simple-line-icons';
    }

    &:hover,
    &:focus {
    	background-color: transparent;
    	color: black;
    }

	&.disabled {
		cursor: default;
	}
}

.basel-products-load-prev {
	-o-transform:translate3d(-20px,0,0);
	-moz-transform:translate3d(-20px,0,0);
	-webkit-transform:translate3d(-20px,0,0);
	transform:translate3d(-20px,0,0);
}

.basel-products-load-next {
	-o-transform:translate3d(20px,0,0);
	-moz-transform:translate3d(20px,0,0);
	-webkit-transform:translate3d(20px,0,0);
	transform:translate3d(20px,0,0);

	&:after {
    	content: "\e606";
    }
}

.basel-animated-products {

	.product-grid-item {
		opacity: 0;
		transition: 0.315s all ease-in-out;
		-moz-transition: 0.315s all ease-in-out;
		-webkit-transition: 0.315s all ease-in-out;

		-o-transform: translate3d(0,0,0) scale(0.8);
		-moz-transform: translate3d(0,0,0) scale(0.8);
		-webkit-transform: translate3d(0,0,0) scale(0.8);
		transform: translate3d(0,0,0) scale(0.8);

		&.basel-animated {
			opacity: 1;

			-o-transform: translate3d(0,0,0) scale(1);
			-moz-transform: translate3d(0,0,0) scale(1);
			-webkit-transform: translate3d(0,0,0) scale(1);
			transform: translate3d(0,0,0) scale(1);
		}
	}
}

.products-footer {

	&.show-arrow {

		.basel-products-load-prev,
		.basel-products-load-next {
			opacity:1;
			visibility: visible;

			-o-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-webkit-transform:translate3d(0,0,0);
			transform:translate3d(0,0,0);

			&:hover {
				opacity:0.6;
			}

			&.disabled {
				opacity: 0.3;
			}
		}
	}
}

.products-footer,
.blog-footer {
	text-align:center;

	.basel-products-load-more,
	.basel-blog-load-more {
		position: relative;
		border-color:black;
		border-width:2px;
		background-color: transparent;
		color:black;

		&:hover {
			background-color: black;
			border-color:black;
			color:white;

			&:after {
				border-color:white;
			}
		}

		&:after {
			position:absolute;
			top: 50%;
	    	margin-top: -9px;
			right:0px;
			visibility: hidden;
			opacity: 0;
			@include loader(16px, 1px, black);
			-webkit-transition:right 0.2s ease-in-out, opacity 0.25s ease-in-out;
			-moz-transition:right 0.2s ease-in-out, opacity 0.25s ease-in-out;
			-o-transition:right 0.2s ease-in-out, opacity 0.25s ease-in-out;
			-ms-transition:right 0.2s ease-in-out, opacity 0.25s ease-in-out;
			transition:right 0.2s ease-in-out, opacity 0.25s ease-in-out;
		}

		&.loading {
			padding-right:45px;
			padding-left:20px;

			&:after {
				visibility: visible;
				opacity: 1;
				right:14px;
			}
		}
	}
}

.blog-footer {
	margin-top: -25px;
}