/** ------------------------------------------------------------------------------------------------
* TESTIMONIAL
* ------------------------------------------------------------------------------------------------ */

.testimonial {
    padding-left: 15px;
    padding-right: 15px;

    .testimonial-avatar {

        img {
            max-width: 250px;
            display: inline-block;
            border-radius: 50%;
        }
    }

    .testimonial-content {
        line-height: 1.6;

        footer {
            margin-top: 15px;
            font-weight: bold;
            color: #1B1919;

            > span {
                color: #4C4C4C;
                font-weight:normal;

                &:before {
                    content:" - ";
                }
            }
        }
    }

    .color-scheme-light & {

        .testimonial-content {
            color:white;

            footer {
                color:rgba(255,255,255,0.9);
            }
        }
    }
}

.testimonials {

    &.testimon-align-center {
        text-align: center;

        .testimonial-avatar {
            margin-bottom: 15px;
        }
    }

    &.testimon-align-left,
    &.testimon-align-right {

        .testimonial-inner {
            display: flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }
    }

    &.testimon-align-left {
        text-align: left;

        .testimonial-inner {
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
        }

        .testimonial-avatar {
            margin-right: 20px;
        }
    }

    &.testimon-align-right {
        text-align: right;

        .testimonial-inner {
            flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
        }

        .testimonial-avatar {
            margin-left: 20px;
        }
    }
    
    &.testimonials-grid {
        display: flexbox;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;  
    
        .testimonial {
            margin-bottom: 30px;
        }
    
        &.testimon-columns-1 {

            .testimonial {  
                -webkit-flex-basis: 100%;
                -ms-flex-basis: 100%;
                flex-basis: 100%;
            }
        }
    
        &.testimon-columns-2 {

            .testimonial {  
                -webkit-flex-basis: 50%;
                -ms-flex-basis: 50%;
                flex-basis: 50%;
            }
        }
    
        &.testimon-columns-3 {

            .testimonial {  
                -webkit-flex-basis: 33.33333333%;
                -ms-flex-basis: 33.33333333%;
                flex-basis: 33.33333333%;
            }
        }
    
        &.testimon-columns-4 {

            .testimonial {
                -webkit-flex-basis: 25%;
                -ms-flex-basis: 25%;
                flex-basis: 25%;
            }
        }
    
        &.testimon-columns-5 {

            .testimonial {  
                -webkit-flex-basis: 20%;
                -ms-flex-basis: 20%;
                flex-basis: 20%;
            }
        }
    
        &.testimon-columns-6 {

            .testimonial {  
                -webkit-flex-basis: 16.66666666%;
                -ms-flex-basis: 16.66666666%;
                flex-basis: 16.66666666%;
            }
        }
    
        &.testimon-columns-7 {

            .testimonial {  
                -webkit-flex-basis: 14.28571428%;
                -ms-flex-basis: 14.28571428%;
                flex-basis: 14.28571428%;
            }
        }

        &.testimon-columns-8 {

            .testimonial {  
                -webkit-flex-basis: 12.5%;
                -ms-flex-basis: 12.5%;
                flex-basis: 12.5%;
            }
        }
    }

    &.testimonials-slider {

        .testimonial {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
    &.testimon-style-boxed {
    
        .testimonial-inner {
            padding: 30px;
            background-color: white;
            box-shadow: 0px 0px 7px rgba(0,0,0,0.12);
        }
    }
}