
/** ------------------------------------------------------------------------------------------------
* HELPERS
* ------------------------------------------------------------------------------------------------ */

/** ------------------------------------------
* Text align 
* ------------------------------------------ */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.alignleft {
	float: left;
	margin-top:3px;
	margin-bottom: 20px;
	margin-right: 25px;
}

.alignright {
	float: right;
	margin-top:3px;
	margin-bottom: 20px;
	margin-left: 25px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

/** ------------------------------------------
* Text style
* ------------------------------------------ */

.title-uppercase {
	text-transform: uppercase;
}

/** ------------------------------------------
* Color scheme
* ------------------------------------------ */

.color-scheme-light {
	@include black-background;
}

.color-scheme-dark {
	@include white-background;
}

/** ------------------------------------------
* Color 
* ------------------------------------------ */

.color-primary {
	color:$primary-color;
}

.color-alt {
	color:$alternative-color;
}

.color-black {
	color:black;
}

.color-white {
	color:white;
}

/** ------------------------------------------
* Font style 
* ------------------------------------------ */

.font-alt {
	font-family: $alternative-font;
}

/** ------------------------------------------
* Tools
* ------------------------------------------ */

.position-relative {
	position:relative;
}

.z-index-h {
	z-index:35;
}

.clear {
	clear: both;
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.parallax-bg {
    background-attachment: fixed!important;
    background-position: center center!important;

    > .vc_column-inner {
	    background-attachment: fixed !important;
	    background-position: center center!important;
    }
}

/** ------------------------------------------
* Tooltips
* ------------------------------------------ */

.basel-tooltip {
	@include add-tooltip;
	@include tooltip-icon;
	@include tooltip-position;
	@include tooltip-hover;
}

/** ------------------------------------------
* Caption
* ------------------------------------------ */

.wp-caption {
	background: transparent;
	border: none;
	margin-bottom: 20px;
	padding: 0;
}

.wp-caption.alignleft {
	margin-top:3px; 
	margin-right: 25px;
}

.wp-caption.alignright {
	margin-top:3px; 
	margin-left: 25px;
}

.wp-caption.aligncenter {
	margin: 0 auto;
	margin-top:3px; 
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
	line-height: 1.6;
	font-style:italic;
	padding: 5px 10px 5px 0;
	opacity: 0.8;
}

 /** ------------------------------------------
* Gallery 
* ------------------------------------------ */

.gallery .gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
	width: auto;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 14px);
	max-width:         calc(50% - 14px);
	width: auto;
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 11px);
	max-width:         calc(33.3% - 11px);
	width: auto;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 9px);
	max-width:         calc(25% - 9px);
	width: auto;
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 8px);
	max-width:         calc(20% - 8px);
	width: auto;
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 7px);
	max-width:         calc(16.7% - 7px);
	width: auto;
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 7px);
	max-width:         calc(14.28% - 7px);
	width: auto;
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 6px);
	max-width:         calc(12.5% - 6px);
	width: auto;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 6px);
	max-width:         calc(11.1% - 6px);
	width: auto;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
	margin-left: 12px; /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.gallery .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery .gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

 /** ------------------------------------------
* Bypostauthor 
* ------------------------------------------ */

.bypostauthor cite span {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #fff;
	background-repeat: repeat-x;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}

.comments-area .bypostauthor cite b {
	font-weight: bold;
}

.entry-content img, 
.entry-summary img, 
.comment-content img,
.wp-caption {
	max-width:100%;
}
