
/** ------------------------------------------------------------------------------------------------
* BASE STYLE
* ------------------------------------------------------------------------------------------------ */

body {
	font-family: $main-font;
	background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $body-color;
	line-height: 1.2;
	font-size: 14px;
}

.website-wrapper {
	background-color: #ffffff;
	position: relative;

	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

p {
	margin-bottom: 20px;
	line-height: 1.5;
}

a {
	color: #202020;
	-webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;

	&:hover {
		color:black;
		text-decoration: underline;
	}

	&:focus {
		color:black;
		text-decoration: none;
		outline: none;
	}
}

h1,h2,h3,h4,h5,h6,
.title {
	font-family: $title-font;
	color: $heading-color;
	margin-bottom: 20px;
	line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {

	a {
		color:inherit;
	}
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}

label {
	display: block;
	font-size: 14px;
	color: $heading-color;
	font-weight: 400;
	margin-bottom: 5px;
	vertical-align:middle;
	text-transform: capitalize;
}

em {
	font-style:italic;
}

big {
	font-size: larger;
}

abbr {
	color: #DA6972;
}

.required {
	color:#E01020;
	font-size: 16px;
	border: none;
}

dl {
	margin-bottom: 20px;
}

strong {
	font-weight: bold;
}

mark {
	display: inline-block;
	padding: 2px 4px;
	background-color: #F9F9F9;
}

code,
kbd,
ins {
	padding: 2px 5px;
}

pre {
	padding: 20px 30px;
	margin-bottom: 20px;
	color: #666;
	line-height: 1.6;
	font-size: 14px;
}

sub,
sup {
	font-size: 12px;
}

var {
	font-style: italic;
}

hr {
    width: 35px;
    border-top: 1px solid rgba(27, 27, 27, 0.6);
    margin-top: 0px;
	margin-bottom: 20px;

	.color-scheme-light & {
		border-color: rgba(255, 255, 255, 0.45);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

blockquote {
	text-align:left;
	font-size:17px;
	margin-bottom:20px;
	margin-left:20px;
	padding-left: 30px;
	border-left: 2px solid $primary-color;
	color:#3a3a3a;

	p {
		margin-bottom: 10px;
		font-size: 17px;
	}

	footer {

		&:before {
			color:$primary-color;
		}
	}

	cite,
	cite a {
		font-weight: bold;
		color: $primary-color;
		font-size:14px;
	}

	.color-scheme-light & {
		border-color:rgba(255,255,255,0.7);

		footer {

			&:before {
				border-color:rgba(255,255,255,0.7);
			}
		}

		cite,
		cite a {
			color:white;
		}
	}
}

cite {
	font-style: italic;
}

address {
	line-height:1.8;
	font-style:italic;
	margin-bottom: 20px;
}

fieldset {
	border: 2px solid #E6E6E6;
	padding: 20px 40px;
	margin-bottom: 20px;

	legend {
		font-size:20px;
		text-transform: uppercase;
		line-height: 1.5;
		font-family: $title-font;
		width: auto;
		padding: 0 15px;
		color: #3b3b3b;
		letter-spacing: .3px;
	}
}

.single-product-content div[itemprop="description"],
.single-product-content #tab-description,
.blog-post-loop .entry-content,
.comments-area .comment-list li {

	ul,ol {
		margin-bottom: 20px;
	}
	
	ul {
		padding-left:40px;

		> li {
			position:relative;

			&:before {
				content: "\f105";
				color: $primary-color;
				opacity: 0.7;
				font-family: 'FontAwesome';
				position: absolute;
				top: 0;
				left: -20px;
			}
		}
	}

	ol {
		list-style: decimal;
		padding-left:40px;
	}

	li {
		line-height:1.8;

		> ul,
		> ol {
			margin-bottom:0;
		}
	}
}

.type-page .entry-content {

	> ul,
	> ol {
		margin-bottom: 20px;

		li {
			line-height:1.8;

			> ul,
			> ol {
				padding-left:40px;
				margin-bottom:0;
			}
		}
	}
	
	> ul {
		padding-left:40px;

		li {
			position:relative;

			&:before {
				content: "\f105";
				color: $primary-color;
				opacity: 0.7;
				font-family: 'FontAwesome';
				position: absolute;
				top: 0;
				left: -20px;
			}
		}
	}

	> ol {

		li {
			list-style: decimal;

			&:before {
				content:none;
			}
		}
	}

	> dl {
		margin:0 20px;
		line-height:1.7;

		dd {
			margin-bottom:20px;
		}

		dt {
			font-weight:bolder;
		}
	}
}





