/************************************
 *  Core Owl Carousel / #basel-owl-carousel
 *  v1.3.3
 ************************************/

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
	 cursor:url(images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -sand-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
* v1.3.3
*/

.owl-theme .item-with-space {
  padding: 0 10px;
}

.owl-theme .owl-controls{
  margin-top: 10px;
  text-align: center;
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top:50%;
  color: black;
  display: inline-block;
  text-align: center;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 0px;
  z-index: 2;
  // background-color: rgba(255, 255, 255, 0.6);
  // border-radius:50%;
  filter: Alpha(Opacity=0);/*IE7 fix*/
  opacity: 0;
  transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -sand-transform:translateY(-50%);
  -ms-transform:translateY(-50%);

  -o-transition:all 0.25s ease;
  -moz-transition:all 0.25s ease;
  -webkit-transition:all 0.25s ease;
  transition:all 0.25s ease;
}
.owl-theme .owl-controls .owl-buttons div:before {
  display: block;
  content:"\e605";
  font-family: 'simple-line-icons';
  width:55px;
  font-size:36px;
  height:55px;
  line-height:55px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  left: auto;
  right:-20px;
  padding-right:0;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left:-20px;
  padding-left:0;
}

.owl-theme .owl-controls .owl-buttons div.owl-next:before {
  content: "\e606";
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme:hover .owl-controls.clickable .owl-buttons div {
  opacity: 1;
  text-decoration: none;

  &.disabled {
    color:rgba(0,0,0,0.3);
  }

}

.owl-theme:hover .owl-controls .owl-buttons div.owl-next {
	right:-47px;
}

.owl-theme:hover .owl-controls .owl-buttons div.owl-prev {
	left:-47px;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    color:rgba(0,0,0,0.6);
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #CCCCCC;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  background-color: #1F1F1F;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(images/AjaxLoader.gif) no-repeat center center;
}

/** ----------------------------
* Elements sliders
* ------------------------------ */

.items-with-space,
.teaser_grid_container,
.vc_carousel_container {
    margin-left:0 -$slides_space/2;
    margin-right:0 -$slides_space/2;

    .isotope-inner,
    .owl-carousel-item-inner {
        padding-right:$slides_space/2;
        padding-left:$slides_space/2;
    }
}

.teaser_grid_container {
    .categories_filter {
        margin: 0 $slides_space/2 10px;
    }
}

.isotope-item,
.owl-carousel-item {

    .post-thumb {
        margin-bottom: 15px;
    }

    .post-title {
        margin-bottom: 15px;
    }

    .entry-content {
        line-height: 1.7;
        margin-bottom: 15px;
        p {
            margin-bottom: 0;
        }
    }
}

/** ----------------------------
* SPACE PRODUCT AND CATEGORY IN OWL
* ------------------------------ */

.owl-theme {
  
  .category-grid-item,
  .product-grid-item {
      margin-bottom:10px;
  }

  &.basel-hover-info {
    margin-bottom:10px;
  }
}

