
/** ------------------------------------------------------------------------------------------------
* WOOCOMMERCE TABLE 
* ------------------------------------------------------------------------------------------------ */

/** ------------------------------------------
* TABLE SHOP CAT
* ------------------------------------------ */

.shop_table {

	tr {
		
		&.order-total {

			.includes_tax {
				display: block;
				margin-top: 5px;
			}
		}
	}

	th {

		&.product-name {
			text-align:left;
		}

		&.product-thumbnail {
			width:10px;
		}

		&.product-remove {
			width: 40px;
		}
	}

	td {

		&.order-status {
			text-align:center!important;
		}

		&.product-quantity {
				
			.quantity {

				input[type="number"] {
					color: #8b8b8b;
					width: 55px;
					background-color: #fbfbfb;
					border: 1px solid #efefef;
					box-shadow: none;
					text-align: center;

					&:focus {
						outline:none;
					}
				}
			}
		}

		&.product-remove {
			padding: 0;
			text-align:center;

			a {
				position: relative;
				font-size:0px;
				display:inline-block;
				border-radius: 50%;
				height:20px;
				width:20px;
				line-height: 28px;
				background-color: black;
				@include close-btn($position:right, $height:2px, $width:10px, $color: white);
				@include close-btn-rotate($a:-44deg, $b:44deg, $h-a:0deg, $h-b:0deg);
				padding-right: 0;
				
				&:after,
				&:before {
					right: 5px;
				}
			}
		}

		&.product-name {
			text-align: left;
			
			a {
				color: #424242;
				text-transform: capitalize;
				letter-spacing: .3px;
				display:block;
			}

			.variation {
				display: inline-block;
				margin-top:10px;
			}
		}

		&.product-price {
				
			span {
				font-size:16px;
				color:black;
			}
		}

		&.product-subtotal {
				
			span {
				font-size:18px;
				color:black;
				font-weight:bold;
			}
		}

		&.product-thumbnail {

			img {
				max-width:80px;
			}
		}		
	}
}

/** ------------------------------------------
* WOOCOMMARCE CHECKOUT
* ------------------------------------------ */

#shipping_method {

	li {
		margin-bottom:10px;

		&:last-child {
			margin-bottom:0px;
		}
	}

	label {
		display:inline-block;
		margin-bottom:0px;
	}
}

.woocommerce-checkout-review-order-table {
	border: none;

	th, td {
		border:none;
	}

	th {
		background-color:transparent;
	}

	tr {
		border-bottom:1px solid rgba(129, 129, 129, 0.05);
	}

	.product-total {
		text-align: right;
	}
		
	thead {

		th {
			padding-top:10px;
		}
	}

	tbody {

		td {

			&.product-name {
				text-transform: capitalize;

				.variation {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}

	tfoot {

		tr {
			&:last-child {
				border-bottom:none;
			}
		}

		td {
			text-align: right;
		}

		th {
			text-align: left;
		}

		.cart-subtotal,
		.shipping { 

			th {
				font-size: 16px;
			}

			p {
				margin-bottom:0px;
			}
		}

		.order-total {

			th {
				font-size: 24px;
				padding-top: 20px;
			}

			th {
				text-transform: uppercase;
				font-weight: bold;
			}

			td {
				padding-top: 20px;

				> strong {
					font-size: 24px;
				}
		
				.amount {
					color:$primary-color;
				}
			}
		}
	}
}

/** ------------------------------------------
* SINGLE PRODUCT TABLE
* ------------------------------------------ */

.single-product-content {

	.shop_attributes {
		max-width:550px;
		margin:0 auto;



		th,
		td {

			p {
				margin-bottom: 0;
			}
		}

		th {
			text-align: left;
			font-size: 16px;
    		font-weight: bold;
		}

		td {
			text-align: right;
		}
	}
}

/** ------------------------------------------
* MY ACOUNT
* ------------------------------------------ */

.my_account_orders {

	th,
	td {
		text-align:center;
	}

	th {
		font-size: 16px;
	}

	tr:last-child {

		td {
			border-bottom: none;
		}
	}

	tbody {

		td {
			background-color: #F9F9F9;
		}
	}

	thead {

		th {
			padding-top:10px;
			padding-bottom:10px;
		}
	}

	td {

		&.order-actions {

			a {
				background-color: transparent;
				padding: 0px;
				@include border-link;

				&:hover,
				&:focus {
					color:black;
				}
			}
		}
	}
}

/** ------------------------------------------
* ORDER DETAILS
* ------------------------------------------ */

.order_details {

	th,
	td {
		width: 50%;
		text-align:left;
	}

	thead {

		.product-total {
			text-align: right;
		}
	}

	tbody {

		.product-name {
				
			> a {
				display: inline-block;
			}

			.variation {
				display: block;
			}
		}

		.product-total {
			text-align: right;
		}
	}

	tfoot {

		th {
			text-transform: uppercase;
		}

		td {
			text-align: right;

			.amount {
				color:#1D1C1C;
			}
		}

		tr {

			&:last-child {

				th,
				td {
					border-bottom:none;
				}

				.amount {
					font-weight:600;

					&:first-child {
						font-size: 20px;
					}
				}
			}
		}
	}
}

.customer_details {

	th,
	td {
		text-align: left;
		width: 50%;
	}

	td {
		text-align: right;
	}

	tr {

		&:last-child {

			th,
			td {
				border-bottom:none;
			}
		}
	}
}

/** ------------------------------------------
* WISHLIST TABLE
* ------------------------------------------ */

.wishlist_table {
	
	tr {

		td {

			&.product-stock-status {

				.wishlist-in-stock,
				.wishlist-out-of-stock {
					display: inline-block;
					padding: 5px 10px;
					border:2px solid #297E29;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: .3px;
					font-weight: bold;
				}

				span.wishlist-out-of-stock  {
					border-color:#B50808;
					color: #B50808;
				}
			}

			&.product-price {

				del {
					color:#bbbbbb;

					.amount {
						font-size:12px;
						color:#bbbbbb;
					}
				}

				ins {
					text-decoration:none;
				}
			}

			&.product-name {

				> a {
					font-size:14px;
				}
			}

			&.product-add-to-cart {

				> .add_to_cart.button {
					@include btn-color-black;
					font-size: 13px;
					border-radius: 0;
					padding: 9px 13px;
					display: inline-block!important;

					&.loading {
						padding-right:35px!important;
						padding-left:15px!important;

						&:after {
							border-color:white;
						}
					}
				}
			}			
		}
	}

	tfoot {

		tr {

			&:last-child {

				td,th {
					border-bottom:none;
				}
			}
		}
	}
}

.woocommerce table.wishlist_table {
	font-size:14px;
}

.yith-wcwl-share h4.yith-wcwl-share-title {
	font-weight:bold!important;
}

.woocommerce .wishlist-title h2 {
	text-transform:uppercase;
	font-weight:bold!important;
	font-size: 28px;
}

.woocommerce table.wishlist_table thead th {
	border-top:none;
}