
/** ------------------------------------------------------------------------------------------------
* WOOCOMMERCE LAYOUT
* ------------------------------------------------------------------------------------------------ */

.woocommerce, .woocommerce-page {

	.col2-set {
		@include clearfix();
		width: 100%;

		.col-1 {
			float: left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}
	
	.form-row-first,
	.form-row-last {
		float: left;
		width: 47%;
		overflow: visible;
	}

	.form-row-last {
		float: right;
	}

	.form-row-wide {
		clear: both;
	}

	.variation {
        display: block;
		margin-bottom: 0;
    	overflow: hidden;
    	font-size:12px;

	    dt,dd {
	        display: block;
	        float: left;
	        clear: both;
	        color: rgb(178, 178, 178);

	        p {
	        	color: #b2b2b2;
	        }
	    }

	    dt {
			margin-right: 5px;
	    }

	    dd {
	        clear: none;
	        position: relative;
	        top:-3px;
	    }

	    p {
	        margin-bottom: 0;
	    }
	}

	.woocommerce-Address {

		.title {
			position: relative;
			
			h3 {
				display: inline-block;
				margin-bottom:0;
			}
		}

		.edit {
			font-size: 12px;
			display: inline-block;
			margin-left: 5px;
			text-decoration:none;
			border-bottom:1px solid #E6E6E6;

			&:hover {
				border-color:#A6A6A6;
			}
		}
	}

	input[name="save_account_details"],
	input[name="save_address"],
	input[name="track"] {
		padding: 12px 32px;
		@include btn-color-primary;
	}

	ul.order_details {
		margin-bottom: 20px;
		margin-left:28px;

		li {
			margin-bottom: 15px;
			font-size: 16px;

			&:last-child {
				margin-bottom:0;
			}
		}
	}

	ul.woocommerce-thankyou-order-details,
	ul.wc-bacs-bank-details {
	    display: flex;
	    -webkit-display: flex;
	    display: -webkit-flex;
	    -ms-display: flex;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    justify-content: space-between;
	    -webkit-justify-content: space-between; 
	    -ms-justify-content: space-between;

	   	.amount {
	   		color:$heading-color;
	   	}

	    li {
	    	flex-grow: 1;
		    -ms-flex-grow: 1;
		    -webkit-flex-grow: 1;
		    padding-left: 20px;
		    padding-right: 20px;
		    margin-bottom: 20px;
		    border-right: 1px solid #dfdfdf;
		    text-align: center;
		    color:$body-color;

	    	strong {
	    		display:block;
	    		margin-top:10px;
	    		color:$heading-color;
	    	}

	    	&:last-child {
	    		border-right:none;
	    	}
	    } 
	}
}

/** ------------------------------------------
* WOOCOMMERCE MESSAGE
* ------------------------------------------ */

.woocommerce-message {
	display: flexbox;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

	.button {
    	order:1;
    	-webkit-order:1;
		-ms-order:1;
		color:white;
		text-decoration: none;
		background-color: #328C34;
	    border-color: #328C34;

		&:hover,
		&:focus {
			background-color: #328C34;
			opacity: 0.8;
		}
	}
}

.woocommerce-error,
.woocommerce-info {

	.button {
		display: none;
	}
}

.woocommerce-checkout,
.woocommerce-account {

	.woocommerce {
		
		> p {
			font-size: 14px;
		    letter-spacing: .3px;
		    padding: 15px 25px;
		    background-color: #F9F9F9;
		    line-height: 1.8;

		    strong {
		    	color:black;
		    }

			a {
				@include border-link;
			}
		}
	}

	.select2-container {

		.select2-choice {
			border-radius:0;
			border: 1px solid rgba(129, 129, 129, 0.25);
			font-size: 14px;
			line-height: 18px;
			padding: 12px 10px;
		}
	}

	.select2-drop-active {
		border-color: rgba(129, 129, 129, 0.25);

		.select2-search {
			padding:10px;

			input {
				padding-right:35px!important;
				padding-left: 10px!important;
				padding-top: 10px!important;
				padding-bottom: 10px!important;
				background-image: none;
				color: rgb(116, 116, 116);
			}

			&:after {
				content: "\e090";
				font-size: 18px;
				color: #8C8C8C;
				font-family: 'Simple-Line-Icons';
				position: absolute;
				right: 20px;
				top: 50%;
				transform:translateY(-50%);
				-ms-transform:translateY(-50%);
				-sand-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
				-o-transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
			}
		}

		&.select2-drop {

			&.select2-drop-above {
				border-color: rgba(129, 129, 129, 0.25);
			}
		}
	}
}

/** ------------------------------------------
* QUICK VIEW CONTENT
* ------------------------------------------ */

.popup-quick-view {
	max-width: 920px;
	background-color: white;
	margin: 65px auto;
	position:relative;
	box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.3);

	.entry-summary {

		> .product_type_simple,
		  .product_type_variable {
			@include btn-color-black;
			margin-bottom: 20px;
			margin-right:15px;
		}

		.view-details-btn {
			display: none;
			font-size: 14px;
			padding-top: 9px;
			padding-bottom: 9px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
		  	line-height: 18px;
			text-transform: uppercase;
			letter-spacing: .3px;
			border-radius: 0px;
			border:2px solid black;
			text-decoration:none;
			text-align: center;
			-webkit-transition:all 0.25s ease-in-out;
			-moz-transition:all 0.25s ease-in-out;
			-o-transition:all 0.25s ease-in-out;
			transition:all 0.25s ease-in-out;

			&:hover,
			&:focus {
				background-color:black;
				color:white;

			}
		}

		.entry-title {
		    font-size: 28px;
		    margin-bottom: 5px;
		}

		.woocommerce-product-rating {
			margin-bottom:5px;
		}

		.price {
    		font-size: 28px;
    		margin-bottom: 7px;
    	}

    	div[itemprop="description"] {
    		margin-bottom:20px;
    	}

		.woocommerce-review-link {
			display: none;
		}

		.woocommerce-breadcrumb {
			display:none;
		}

		.product_meta {
			border-top: none;
		    padding-top: 0px;
		    margin-top: 0px;
		}

		.share-title {
			font-weight:bold;
			color: #1B1919;
			margin-right:5px;

			&:after {
				content:":";
			}
		}

		.social-icons {
			display:inline-block;
		}
	}

	.single-product-content {

		.product-image-summary {
			margin-bottom:0;

			.owl-controls {
				margin-top:0;
			}
		}
	}

	.owl-theme {

		.owl-controls {

			.owl-buttons {
				
				> div {

					&.owl-next {
						right:-20px;
					}

					&.owl-prev  {
						left:-20px;
					}
				}
			}
		}

		&:hover .owl-controls .owl-buttons div.owl-next {
			right:0px;
		}

		&:hover .owl-controls .owl-buttons div.owl-prev {
			left:0px;
		}
	}

	.mfp-close {
		font-size:0;
		@include close-btn( $height:1px, $width:30px, $color: black);
		opacity:1;

		&:after,
		&:before {
			right: 9px;
		}

		&:after {
            transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
            -sand-transform:rotate(-45deg);
        }

        &:before {
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            -sand-transform:rotate(45deg);
            transform:rotate(45deg);
        }
	}

	/** ------------------------------------------
	* SCROLL VERSION
	* ------------------------------------------ */

	.single-product-content {

		.product-image-summary {
			display: flexbox;
	   		display: flex;
	   		display: -webkit-flex;
	   		display: -ms-flex;
	   		flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
	   		-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
	   		min-height: 400px;

			&:before,
			&:after {
				display: none;
			}
		}

		.variations {
			position: relative;

			td {
				padding-bottom: 10px;
			}

			.reset_variations {
				position: absolute;
				bottom: -15px;
				left: 0;
				margin-left: 0;
			}

			.basel-swatch {
				cursor: pointer;
			}
		}
	}

	.basel-scroll-content {
	   padding-left: 15px;
	   padding-right: 60px;
	   padding-bottom: 25px;
	   padding-top: 35px;
	}

	.basel-scroll {

		.basel-scroll-pane {
			right: 15px;
		}
	}
}
.mfp-close-btn-in .popup-wrapper .mfp-close {
	color: white;
}

/** ------------------------------------------
* POPUP ADDED TO CART
* ------------------------------------------ */

.popup-added_to_cart {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border: 2px solid rgba(101, 101, 101, 0.25);
	text-align: center;
	position:relative;
	overflow: hidden;
	padding: 20px 40px 0 40px;

	p {
		font-size: 20px;
		font-weight: bold;
		color:#1B1919;
		font-family: $title-font;
		text-transform: uppercase;
	}

	a {
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&:after {
	  	content: "\f218";
	    position: absolute;
	    bottom: 0;
	    right: -14px;
	    line-height: 110px;
	  	z-index: 1;
	  	font-size: 161px;
	  	color: rgba(123, 123, 123, 0.10);
	  	font-family: "FontAwesome";
	  	transform: rotate(-30deg);
	  	-ms-transform: rotate(-30deg);
		-sand-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
	}

	.close-popup {
		@include border-link;
		display: inline-block;
		position: relative;
		z-index: 2;

		&:hover {
			color:black;
		}
	}

	.view-cart {
		padding-left: 40px;
		padding-right: 40px;
		position: relative;
		z-index: 2;
	}

	.mfp-close {
		font-size: 28px;
		opacity: 1;
	}
}

.mfp-close-btn-in .mfp-close {
	color:rgba(0, 0, 0, 0.6);

	&:hover,
	&:focus {
		color:rgba(0, 0, 0, 1);
		background-color:transparent;
	}
}

/** ------------------------------------------
* WOOCOMMERCE BREADCRUMB
* ------------------------------------------ */

.woocommerce-breadcrumb {
	font-size: 13px;
	line-height:20px;
	display: inline-block;
	color:#9E9E9E;
	vertical-align: middle;

	a {
		color: #1B1919;
		margin-right: 5px;
		text-decoration: none;
		font-style: normal;

		&:after {
			content:"/";
			margin-left: 5px;
		}

		&:first-child {

			&:before {
				content: "\f015";
				margin-right: 5px;
				font-family: "FontAwesome";
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.add_to_cart_inline {

	ins {
		padding:0;
		text-decoration:none;
	}

	> a {
		@include btn-color-black;
		margin-left:10px;

		&.added {
			display:none;
		}

		&:after {
			border-color:white;
		}
	}
}

/** ------------------------------------------
* WOOCOMMERCE LOADER
* ------------------------------------------ */

.blockOverlay {

	&:after {
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -20px;
		margin-left: -20px;
		@include loader($size:40px, $b-width:2px, $color:rgb(0,0,0));
	}
}

/** ------------------------------------------
* Store Notice Text
* ------------------------------------------ */

p.demo_store {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 14px;
  	line-height: 1.6;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0,0,0,.9);
    color: #fff;
    z-index: 299;
  	border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.woocommerce-demo-store {
	
	.footer-container {
    	margin-bottom: 42px;
	}
}

