/** ------------------------------------------------------------------------------------------------
* SINGLE PRODUCT PAGE - STICKY
* ------------------------------------------------------------------------------------------------ */

.product-design-sticky {

	.product-image-summary {
		margin-bottom: 50px;
	}

	.entry-summary {
		position: relative;
		text-align:center;
		opacity: 1;

		transition: opacity 0.1s ease-in-out;
		-moz-transition: opacity 0.1s ease-in-out;
		-webkit-transition: opacity 0.1s ease-in-out;

		.yith-wcwl-add-to-wishlist {
		    margin-bottom: 20px;
		    margin-right: -30px;
		    margin-top:0;
		    padding-top:0px;
		    border:none;
		}

		div[itemprop="description"] {
			max-height:75px;
			overflow:hidden;
			transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out;
			-moz-transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out;
			-webkit-transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out;

			> p {
				line-height: 25px;
			}
		}

		.summary-inner {
			padding: 0 40px;
			margin: 0 auto;
			max-width: 600px;
		}

		&.block-sticked.not-in-viewport {
			div[itemprop="description"] {
				max-height:0px;
				margin:0;
			}
		}

		&.block-sticked {

			.summary-inner {
				transition: transform 0.5s ease;
				-moz-transition: transform 0.5s ease;
				-webkit-transition: transform 0.5s ease;
			}
		}

		&.hide-temporary {
			opacity: 0;
		}
	}

	.thumbs-position-bottom {
		
		.thumbnails {
			opacity:1;
			visibility:visible;

			-webkit-transition:none;
			-moz-transition:none;
			-o-transition:none;
			transition:none;

			.image-link {
				padding-right: 3px;
				margin-bottom: 4px;
				display: block;
				cursor: url(images/cursor-zoom.png), pointer;
				transform:translateY(100px);
				-webkit-transform:translateY(100px);
				-moz-transform:translateY(100px);
				-o-transform:translateY(100px);
				transition:transform 0.45s ease-in-out;
				-webkit-transition:transform 0.45s ease-in-out;
				-moz-transition:transform 0.45s ease-in-out;
				-o-transition:transform 0.45s ease-in-out;


				&.animate-images {
					transform:translateY(0px);
					-webkit-transform:translateY(0px);
					-moz-transform:translateY(0px);
					-o-transform:translateY(0px);
				}

				img {
					width: 100%;
				}
			}
		}
	}


	.woocommerce-breadcrumb {
		display: inline-block;
	}

	.product_meta {
		border-top:none;
		display: inline-block;
		padding: 15px;
		background-color: #F9F9F9;

		> span {
			display: inline-block;
			margin: 0 10px;
			font-weight: bold;
			line-height: 2;
		}
	}

	.product-tabs-wrapper {
		margin: 0 -15px 0px;
		background-color: #F9F9F9;
		padding: 40px 0;
	}

	.product-share {
		margin-bottom: 50px;
		text-align: center;
	}
	
	.tabs {
		text-align: center;
	}

	.cart {

		&.variations_form {
			width:100%;

			+ .yith-wcwl-add-to-wishlist {

				+ .clear {

					+ .product_meta {
						padding-top:15px;
					}

					+ .compare-btn-wrapper {

						+ .product_meta {
							padding-top:15px;
						}
					}
				}
			}
		}
	}

	.single_variation_wrap {
		padding-top:25px;
	}

	.single_variation {

		.woocommerce-variation-price,
		.woocommerce-variation-availability {
			float: none;
			display: inline;
		}

		.price {
			vertical-align: bottom;
		}

		.out-of-stock,
		.in-stock,
		.price {
			margin-left: 7px;
			margin-right: 7px;
		}
	}

	.variations {
		margin-bottom:0;

		td {
			text-align:center;

			&.label {
				display:none;
			}
		}

		.reset_variations {
			margin-right: -54px;
		}
	}
}

.product-type-grouped {

	.entry-summary {

		.yith-wcwl-add-to-wishlist {
			margin-bottom: 10px;
			margin-right: 0px;
		}
	}
}