
/** ------------------------------------------------------------------------------------------------
* SINGLE SHOP PAGE 
* ------------------------------------------------------------------------------------------------ */

.single-product {

	&.header-full-width {

		.woocommerce-message,
		.woocommerce-error {
			width:95%;
		}
	}

	.woocommerce-message,
	.woocommerce-error {
		max-width:1140px;
		margin:-20px auto 60px auto;
	}

	.site-content {
		margin-bottom: 0px;
	}
}

.single-product-content {

	.product-image-summary {
		margin-bottom: 60px;
	}

	.woocommerce-main-image {
		cursor: url(images/cursor-zoom.png), pointer;
	}

	.product-images {
		position: relative;

		.onsale {
			left: auto;
			right:23px;
		}

		img,
		a {
			
			&:focus {
				outline:none;
			}
		}

		&.col-sm-8 {

			.thumbs-position-left {

				.slick-slider {

					&.count-3 {
					    margin-left: -5px;
					    margin-right: -5px;

						.slick-slide {
							padding-bottom: 16px;
						}
					}
				}

				.slick-slide {
					padding-bottom: 15px;
				}
			}
		}

		&.col-sm-6 {

			.thumbs-position-left {

				.slick-slider {
					margin-left: -3px;
					margin-right: -3px;

					&.count-3 {
					    margin-left: -7px;
					    margin-right: -7px;

						.slick-slide {
							padding-bottom: 10px;
						}
					}
				}

				.slick-slide {
					padding-bottom: 8px;
				}
			}
		}

		&.col-sm-4 {

			.thumbs-position-left {

				.slick-slider {
					margin-left: -3px;
					margin-right: -3px;

					&.count-3 {
					    margin-left: -7px;
					    margin-right: -7px;

						.slick-slide {
							padding-bottom: 8px;
						}
					}
				}

				.slick-slide {
					padding-bottom: 7px;
				}
			}
		}

		.thumbs-position-bottom,
		.thumbs-position-left {
			
			.owl-theme {

				.image-link {
					padding: 0 2px 0 2px;
					display: block;
				}

				.owl-wrapper {
					margin-left: -2px;
				}
				
				.owl-item {

					a {

						&:hover {
							opacity:0.5;
						}

						&.current-image {
							opacity:0.5;
						}
					}
				}
			}

			.owl-controls {
				position: absolute;
				bottom: 10px;
				right: 14px;

				.owl-buttons {
					background-color: white;
					box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
					
					> div {
						position: static;
						filter: Alpha(Opacity=1);
						opacity: 1;
						box-shadow:none;
						-webkit-transform: none;
					    -moz-transform: none;
					    -sand-transform: none;
					    -ms-transform: none;

						&:before {
							width: 38px;
						    font-size: 18px;
						    height: 38px;
						    line-height: 38px;
						}
					}
				}
			}
		}
	}
	
	.woocommerce-main-image {
		margin-bottom: 4px;
		padding: 0 3px 0 0;
		display: block;

		> img {
			width: 100%;
			-webkit-transition:opacity 0.2s ease-in-out;
			-moz-transition:opacity 0.2s ease-in-out;
			-o-transition:opacity 0.2s ease-in-out;
			transition:opacity 0.2s ease-in-out;
		}

		&.loading-image {
			
			> img {
				opacity: 0.4;
			}

			&:after {
				opacity:1;
				visibility: visible;
			}
		}

		&:after {
			@include loader(50px,2px,rgba(0,0,0,0.8));
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-25px;
			margin-top:-25px;
			opacity:0;
			visibility: hidden;
			-webkit-transition:all 0.2s ease-in-out;
			-moz-transition:all 0.2s ease-in-out;
			-o-transition:all 0.2s ease-in-out;
			transition:all 0.2s ease-in-out;
		}
	}

	.thumbs-position-left,
	.thumbs-position-bottom {
		
		.thumbnails {
			opacity:0;
			visibility:hidden;

			-webkit-transition:opacity 0.4s ease-in-out;
			-moz-transition:opacity 0.4s ease-in-out;
			-o-transition:opacity 0.4s ease-in-out;
			transition:opacity 0.4s ease-in-out;

			&.thumbnails-ready {
				opacity:1;
				visibility:visible;
			}
		}
	}
	
	.slick-vertical {
		overflow: hidden;

		.slick-slide {

			&:hover {
				opacity:0.5;
			}

			&.current-image {
				opacity:0.5;
			}
		}

		> button {
			border: none;
			font-size: 0;
			width: 50%;
			padding:0;
			line-height: 0;
		    background-color: #F5F5F5;
		    color: #676767;

			&:hover {
				background-color: black;
				color:white;
			}

			&:focus {
				outline:none;
			}

			&:before {
				line-height: 26px;
				font-size: 20px;
				position: relative;
				font-family: "FontAwesome";
			}

			&.slick-prev {
				border-right:1px solid white;

				&:before {
					content:"\f106";
					bottom: 1px;
				}
			}

			&.slick-next {
				border-left:1px solid white;

				&:before {
					content:"\f107";
					top: 1px;
				}
			}
		}
	}

	// ------------------------------------------
	// SUMMARY IN SINGLE PRODUCT PAGE
	// ------------------------------------------ 

	.entry-summary {

		.yith-wcwl-add-to-wishlist {
			margin-bottom: 20px;
			display:inline-block;

			> div {

				> a {
					// color:#949494;

					.basel-tooltip-label {
						display: none;
					}

					&:before {
						color:#4E4E4E;
					}

					&:hover {
						color: $primary-color;

						&:before {
							color:$primary-color;
						}
					}
				}
			}

			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse {

				a {
					&:before {
						color:$primary-color;
					}
				}
			}

			.yith-wcwl-add-button {

				&.feid-in {

		            > a {
		                color: #545454;

						&:before {
							color:$primary-color;
						}
		            }
				}
			}
		}

		.button.compare {
			display: inline-block;
		    vertical-align: middle;
		    text-align: center;
		    font-size: 14px;
		    line-height: 1.5;
		    color:#4E4E4E;
		    padding: 0;
		    background-color: transparent;
		    border:none;
		    text-transform: capitalize;

            &:before {
				content: "\e098";
			    font-size: 18px;
			    vertical-align: middle;
			    margin-right: 5px;
			    color: #4E4E4E;
			    display: inline-block;
			    font-family: 'Simple-Line-Icons';
			    -webkit-transition: all 0.2s;
			    -moz-transition: all 0.2s;
			    -o-transition: all 0.2s;
			    transition: all 0.2s;
			}

			&:hover {
				color:$primary-color;

				&:before {
					color:$primary-color;
				}
			}

			&.added {
				
				&:before {
					color:$primary-color;
				} 
			}
		}
	}

	.variations_form + .yith-wcwl-add-to-wishlist {
	    display: block;
	    padding-top: 20px;
	    margin-top: 10px;
	    margin-bottom: 15px;
	    border-top: 1px solid rgba(119, 119, 119, 0.17);

	    + .clear {

	    	+ .compare-btn-wrapper {
    			margin-bottom: 20px;

		    	+ .product_meta {
		    		border-top: none;
		    		padding-top:0;
		    		margin-top: 0;
		    	}	    		
	    	}

	    	+ .product_meta {
    			border-top: none;
	    		padding-top:0;
	    		margin-top: 0;
	    	}
	    }
	}

	.entry-title {
		font-family:$secondary-title;
		font-size: 38px;
		margin-bottom: 10px;
	}

	.woocommerce-breadcrumb {
		margin-bottom: 40px;
		line-height: 1.7;

		a {
			
			&:hover {
				color:#797979;
			}
		}
	}

	.woocommerce-product-rating {
		overflow: hidden;
		margin-bottom: 10px;
		margin-top:5px;
		display: inline-block;

		.star-rating {
			margin-right: 10px;
	    	vertical-align: middle;
    		top: 1px;

    		span:before {
    			color: #1F1F1F;
    		}
		}

		.woocommerce-review-link {
			vertical-align: middle;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	p.price {
		margin-bottom:12px;
	}

	.price {
		font-size: 28px;
		color:$primary-color;

		.amount {
			color:$primary-color;
		}

		del {
			color: #bbb;
			font-size: 16px;

			.amount {
				color: #bbb;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}

	div[itemprop="description"] {
		margin-bottom: 25px;

		p {
			line-height: 1.8;
		}
	}

	.cart {
		margin-bottom: 20px;
		margin-right:15px;
		display:inline-block;

		&.variations_form {
			margin-right:0px;
		}

		.quantity {
			display: inline-block;
			margin-right: 15px;

			input[type="number"] {
				color:#848484;
				text-align: center;
				width: 55px;
			}
		}

		.button {
			@include btn-color-black;
		}
	}

	.variations {
		margin-bottom: 0px;
		border:none;

		label {
			margin-bottom: 0;
		    vertical-align: middle;
		    font-weight: bold;
		    margin-right: 20px;
		    white-space: nowrap;

		    &:after {
		    	content:":";
		    	margin-left:2px;
		    }
		}

		tr {

			&:last-child {

				td {
					padding-bottom: 0px;
				}
			}
		}

		td {
			border:none;
			text-align: left;
			vertical-align:middle;
			padding:0;
			padding-bottom: 25px;

			&.value {
				width:100%;

				select {
					max-width:260px;
					display:inline-block;
				}

				&.with-swatches {

					select {
						display: none;
					}			
				}
			}
		}

		.reset_variations {
			font-size: 12px;
			margin-left:10px;
			vertical-align:middle;
			display:inline-block;

			&:before {
				content: "\f00d";
				font-family: "FontAwesome";
				margin-right: 5px;
				display: inline-block;
			}
		}
		
		.swatches-select {
			display:inline-block;
			vertical-align:middle;

			> div {
				position:relative;
				font-size:16px;
				font-weight:bold;
				display: inline-block;
				text-align:center;
				vertical-align:middle;
				min-width: 25px;
				color:#1B1919;
				margin-right: 15px;
				margin-top:5px;
				margin-bottom:5px;
				border-bottom:2px solid transparent;

				&:hover {
					border-color:black;
					
				}

				&:last-child {
					margin-right: 0px;
				}

				&.swatch-size-large {
					font-size:18px;
				}

				&.swatch-size-xlarge {
					font-size:24px;
				}
			}

			.image-swatch,
			.colored-swatch {
				font-size:0;
				width: 25px;
				height: 25px;
				border-bottom:none;
				border-radius:50%;
				background-size: cover;

				&:after {
					content:"";
					position:absolute;
					left:0;
					bottom:-5px;
					width:100%;
					border-bottom:2px solid transparent;
				}

				&:hover {

					&:after{
						border-color:black;
					}
				}

				&.active-swatch {

					&:after {
						border-color:black;
					}
				}

				&.swatch-size-large {
					width: 45px;
					height: 45px;
					font-size:0;
				}

				&.swatch-size-xlarge {
					width: 70px;
					height: 70px;
					font-size:0;
				}
			}

			.text-only {

				.basel-tooltip-label {
					display: none;
				}
			}

			.swatch-enabled {
				cursor:pointer;
			}

			.swatch-disabled {
				cursor:default;
				opacity: 0.4;
			}

			.active-swatch {
				border-color:black;
			}
		}
	}

	.basel-product-countdown {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.product_meta {
		border-top: 1px solid rgba(119, 119, 119, 0.17);
		padding-top: 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		display: block;

		> span {
			display: block;
			margin-bottom: 20px;
			color: #1B1919;
			font-weight:bold;

			a,
			span {
				color: #4E4E4E;
				display: inline-block;
				font-weight:normal;
				margin: 0 2px;
				line-height: 1.4;
			}

			&:last-child {
				margin-bottom:0;
			}

			a {
				&:hover {
					color: rgb(116, 116, 116);
				}
			}
		}
	}

	.single_variation_wrap {
		padding-top:25px;

		.variations_button {
			display:inline-block;
		}
	}

	.single_variation {
	    display: block;
		vertical-align:middle;
		@include clear-element;

		.woocommerce-variation-price,
		.woocommerce-variation-availability {
			float: left;
		}

		.price {
  			margin-right:15px;
  			margin-bottom: 20px;
  			display: inline-block;
  			vertical-align:middle;
		}

		.out-of-stock,
		.in-stock {
			margin-right: 0;
		}
	}

	.out-of-stock,
	.in-stock {
		display: inline-block;
		margin-bottom:20px;
		margin-right: 20px;
		padding: 5px 10px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .3px;
		font-weight: bold;
	}

	.out-of-stock {
		border: 2px solid #CC1414;
		color: #B50808;
	}

	.in-stock {
		border: 2px solid #297E29;
		color: #297E29;
	}

	.product-share {
		margin-bottom:10px;
		text-align: left;

		.share-title {
			font-weight:bold;
			color: #1B1919;
			margin-right:5px;

			&:after {
				content:":";
			}
		}

		.social-icons {
			display:inline-block;
		}
	}
	
	// ------------------------------------------
	// TABS IN SINGLE PRODUCT PAGE
	// ------------------------------------------ 

	.product-tabs-wrapper {
		margin-right:-15px;
		margin-left:-15px;
		padding-top:30px;
		padding-bottom:50px;
		background-color: #F9F9F9;
	}

	.tabs {
		margin-bottom: 25px;
		text-align:center;

		li {
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 15px;
			border-bottom: 1px solid #E4E4E4;

			a {
				display: inline-block;
				font-size: 20px;
				font-weight:600;
				// font-family: $title-font;
				color: rgba(0, 0, 0, 0.5);
				padding: 3px 0;

				&:hover {
					text-decoration:none;
					color: rgba(0, 0, 0, 0.8);
				}
			}

			&.active {
				border-color: #545454;
						
				a {
					color: rgba(0, 0, 0, 0.9);
				}
			}

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	.basel-accordion-title {
		display: none;
	}

	.entry-content {

		p {
			line-height: 1.7;
			letter-spacing: 0.3px;
		}
	}

	#tab-description {

		*:last-child {
			margin-bottom:0;
		}
	}

	#tab-description,
	#tab-additional_information {

		> h2 {
			font-size:18px;
			font-weight:bold;
		}
	}

	#tab-additional_information {

		> h2 {
			max-width:530px;
			margin-left:auto;
			margin-right:auto;
		}
	}

	#tab-seller {

		ul {

			li {
				margin-bottom:15px;

				> span {
					font-weight:bold;
					color:#525252;
				}

				> span.details {
					font-weight:normal;
					color: #777777;
				}
			}
		}
	}
	
	// ------------------------------------------
	// REVIEWS
	// ------------------------------------------ 

	#reviews {
		position:relative;
	}

	#comments {
		width: 50%;
		padding-top:20px;
		padding-right:40px;
		float: left;

	  	> h2 {
	  		font-size:18px;
	  		font-weight:bold;
	  	}
	}


	#review_form_wrapper {
		float: left;
	  	width: 50%;
	  	border-left:1px solid #efefef;
	  	border-bottom:1px solid #efefef;
	  	padding-top:20px;
		padding-bottom:40px;
		padding-left:40px;
		
		#reply-title {
			font-size: 18px;
			font-weight: bold;
		}
	}

	.comment-form {

		> p {
			margin-bottom: 20px;

			> label {
				display:block;
			}

			&:last-child {
				margin-bottom:0;
			}
		}

		.comment-form-comment {
			margin-bottom:10px;
		}

		.comment-form-author,
		.comment-form-email {
			float:left;
			width: 50%;
			margin-bottom: 25px;
		}

		.comment-form-author {
			padding-right: 15px;
		}

		.comment-form-email {
			padding-left:15px;
		}
	
		textarea,
		input[type="text"],
		input[type="email"] {
			background-color: rgb(239, 239, 239);
			border:none;
			box-shadow: none;

			&:focus {
				background-color: #ECECEC;
			}
		}

		textarea {
			height: 150px;
			width: 100%;
		}

		input[type="text"] {
			max-width: 300px;
		}

		.comment-form-rating {

			label {
				display: inline-block;
				margin-bottom: 0;
				margin-right: 15px;

				&:after {
					content:":";
					margin-left:2px;
				}
			}
		}

		.stars {
			display: inline-block;
			margin-bottom: 0;
			vertical-align:middle;

			span {
				display:inline-block;

				a {
					margin-right:20px;
					display:inline-block;
					font-size:0;
					letter-spacing: 2px;

					&:hover {
						text-decoration:none;
						color:$primary-color;
					}

					&:last-child {
						margin-right:0px;
					}


					&:after {
						font-family: 'simple-line-icons';
						font-size:14px;
						line-height:20px;
					}

					&.star-1 {

						&:after {
							content:"\e09b";
						}
					}

					&.star-2 {

						&:after {
							content:"\e09b \e09b";
						}
					}


					&.star-3 {

						&:after {
							content:"\e09b \e09b \e09b";
						}
					}

					&.star-4 {
						
						&:after {
							content:"\e09b \e09b \e09b \e09b";
						}
					}

					&.star-5 {
						
						&:after {
							content:"\e09b \e09b \e09b \e09b \e09b";
						}
					}

					&.active {
						color:$primary-color;
					}
				}
			}
		}

		.form-submit {
			margin-bottom: 0;

			input[type="submit"] {
				background-color: transparent;
			    border-color: black;
			    color: black;
			    border-width: 2px;
			    /* font-weight: bold; */
			    padding-left: 35px;
			    padding-right: 35px;

			    &:hover,
			    &:focus {
			    	background-color:black;
			    	border-color:black;
			    	color:white;
			    }
			}
		}
	}
}

.commentlist {
	margin-top: 30px;
						
	li {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom:0;
		}
	}

	.review_comment_container,
	.comment_container {
		position: relative;
		min-height: 95px;
		padding: 12px 12px 12px 85px;

		.dokan-review-author-img img,
		> img {
			position: absolute;
			left: 0px;
			top: 13px;
			max-width: 60px;
			border-radius: 50%;
		}
	}
	
	.comment-text {

		.star-rating {
			float: right;
			margin-bottom: 5px;
		}

		.meta {
			line-height: 18px;
			display: inline;
			font-size: 12px;

			strong {
				color:rgb(55, 55, 55);
			}

			time {
				font-style: italic;
			}
		}

		.description {
			margin-top:10px;
			margin-bottom: 0;
			line-height: 1.7;

			p {
				margin-bottom: 10px;
				line-height: 1.7;

				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
}

.product-with-attachments {
	
	.thumbs-position-left {

		+ .product-additional-galleries {
			margin-left: 27%;
		}
	}
}

.related-and-upsells {

	> h3:first-child,
	> div:first-child {
		margin-top:40px;
	}

	> div {
		margin-bottom:40px;
	}
}

.basel-product-instagram {
	padding-top: 40px;
    border-top: 1px solid rgba(119, 119, 119, 0.17);

	.product-instagram-intro {
		font-size: 16px;

		> span {
			font-weight: 600;
			color:$heading-color;
		}
	}

	&:first-child {
		padding-top: 0px;
	    border-top: none;	
	}
}

.single-breadcrumbs-wrapper {
	margin-top:-40px;
	margin-bottom:40px;
	background: #F9F9F9;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 5px;
    padding-bottom: 5px;

    > .container {
    	padding-left: 5px;
    	padding-right: 5px;
    }

    .basel-back-btn {

    	> span {
    		top:3px;
    	}
    }

    .woocommerce-breadcrumb {
    	padding-left: 15px;
    	padding-right: 15px;
    }
}

.basel-products-nav {
	float:right;

	.product-btn {
		position:relative;

		> a {
			vertical-align: middle;
    		font-size: 0;
    		text-align:center;
    		line-height:40px;
			width:50px;
			display:inline-block;

			span {
			    width: 23px;
			    height: 2px;
			    position:relative;
			    display: inline-block;
			    background-color: black;
			    -webkit-transition:all 0.25s ease;
				-moz-transition:all 0.25s ease;
				-o-transition:all 0.25s ease;
				transition:all 0.25s ease;

		    	&:before {
					position:absolute;
				    top: 0px;
			        font-size: 14px;
					line-height: 3px;
					color:black;
				    font-family: "FontAwesome";
				}
		    }
		}

		&.product-prev {
			float:left;

			> a {

				span {

					&:before {
						content: "\f0d9";
					    left: -4px;
					}
				}
			}

			.wrapper-short { 
				right:-20px;
			}
		}

		&.product-next {
			float:right;

			> a {

				span {

					&:before {
						content: "\f0da";
					    right: -4px;
					}
				}
			}

			.wrapper-short { 
				right:20px;
			}
		}

		&:hover {

			> a {

				span {
					width:32px;
				}
			}

			> .wrapper-short {
				visibility:visible;
				opacity:1;
				right:0;
				-webkit-transition:all 0.25s ease;
				-moz-transition:all 0.25s ease;
				-o-transition:all 0.25s ease;
				transition:all 0.25s ease;
			}
		}
	}

	.wrapper-short {
		position:absolute;
		top:100%;
		padding-top:5px;
		visibility:hidden;
		opacity:0;
		min-width:250px;
		z-index:350;
		-webkit-transition:all 0.1s ease;
		-moz-transition:all 0.1s ease;
		-o-transition:all 0.1s ease;
		transition:all 0.1s ease;
	}

	.product-short {
		overflow:hidden;
		padding:10px;
		background-color: white;
		border:2px solid #efefef;
		
		.product-thumb {
			float:right;
			margin-left:10px;

			img {
				max-width:50px;
			}
		}

		.product-title {
			display: block;
		    margin-bottom: 7px;
		    font-weight: bold;
    		font-size: 12px;
		    line-height: 1.5;
		    text-transform: uppercase;
		}

		.price {
			display:block;
			color:$primary-color;

			.amount {
				color:$primary-color;
			}

			del {
				color:#D0D0D0;

				.amount {
					color:#D0D0D0;
				}
			}
		}
	}
}

.product-type-grouped {

	.cart {
		border-top: 2px solid #161616;
		margin-right: 0px;
		display: block;
	}

	.entry-summary {

		.yith-wcwl-add-to-wishlist {
			margin-bottom: 10px;
			margin-right: 10px;

			+ .clear {
				display: none;
			}
		}
	}

	.compare-btn-wrapper {
    	margin-bottom: 10px;
	}

	.product_meta {
		padding-top: 20px;
   	 	margin-top: 7px;
	}

	.group_table {
		margin-bottom: 25px;

		label {
			margin-bottom: 0;
		}

		.label {
			text-align: left;
		}

		.quantity {
			margin-right: 0;
		}

		.price {
			font-size:20px;
			text-align: right;
		}

		.amount {
			vertical-align: middle;
		}

		.out-of-stock,
		.in-stock {
			margin-left: 15px;
			margin-right:0;
			margin-bottom:5px;
			margin-top: 5px; 
		}
	}
}

.product-additional-galleries {
	text-align: center;
	margin-top: 10px;

	> div:not(.product-360-view-wrapper) {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.product-video-button,
.product-360-button {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;

	a {
		text-decoration: none;
		color:#4E4E4E;
		display: block;

		&:before {
		    display: inline-block;
		    font-size: 16px;
		    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    text-align: center;
		    background: #f7f7f7;
		    color: black;
		    vertical-align: middle;
		    margin-right: 10px;
		    border-radius: 50%;
		    font-family: 'simple-line-icons';
		    transition:
		    	color .3s ease,
				background-color .3s ease;
		}

		span {
			vertical-align: middle;
			position: relative;
		}

		&:hover {

			&:before {
				background-color: $primary-color;
				color:white;
			}
		}
	}
}

.product-video-button {
	
	a {
	
		&:before {
			content:"\e071";
		}
	}
}

.product-360-button {
	
	a {
	
		&:before {
			content:"\e099";
		}
	}
}

.product-360-view-wrapper {
	position: relative;
    max-width: 800px;
    margin: 100px auto;

	.mfp-close {
		font-size:0;
		@include close-btn( $height:1px, $width:30px, $color: black);
		padding: 0;
		opacity:1;
		background-color: rgba(255,255,255,.5);

		&:after,
		&:before {
			right: 7px;
		}

		&:after {
            transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
            -sand-transform:rotate(-45deg);
        }

        &:before {
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            -sand-transform:rotate(45deg);
            transform:rotate(45deg);
        }
	}
}