
/** ------------------------------------------------------------------------------------------------
* Blog 
* ------------------------------------------------------------------------------------------------ */

.blog-post-loop {
	margin-bottom: 100px;
	position: relative;
	
	a {
		color: #4e4e4e;
	}

	.entry-header {
		@include clear-element;
	}

	.entry-thumbnail {
		margin-bottom: 15px;
		position: relative;
		display: block;
		text-align:center;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		perspective: 800px;
		-webkit-perspective: 800px;
	}

	.post-img-wrapp {
		background-color: black;
		overflow: hidden;
		display:inline-block;
		vertical-align: middle;

		> a {
			display: block;
			margin:-1px;
			-webkit-transition:all 1s ease-out;
			-moz-transition:all 1s ease-out;
			-o-transition:all 1s ease-out;
			transition:all 1s ease-out;

			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);

			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	.meta-post-categories {
		position: relative;
		z-index: 30;
		display: inline-block;
		background-color: $primary-color;
		color:white;
	    padding-left: 10px;
	    padding-right: 10px;
    	margin-left: 90px;
    	margin-bottom: 5px;
    	height: 25px;
    	overflow: hidden;

		> a {
			display: inline-block;
    		line-height: 25px;
			color:white;
			text-transform: capitalize;
    		font-size: 12px;
		}
	}

	.entry-meta {
		margin-bottom:15px;
		margin-left: 92px;
	}

	.post-image-mask {
		display: none;
	}
		
	.entry-title {
		font-size: 32px;
		margin-bottom:10px;
		line-height: 1.2;
		letter-spacing: .3px;
		margin-left: 90px;
		-ms-word-wrap: break-word;
		word-wrap: break-word;

		a {
			font-family: inherit;
			font-weight: inherit;
			font-style: inherit;
			color: #1B1919;
			text-decoration:none;

			&:hover {
				color:$primary-color;
			}
		}
	}

	.post-date {
		position:absolute;
		top: 40px;
		left:10px;
		background-color: white;
		box-shadow: 0 0 9px rgba(0,0,0,0.1);
		z-index: 2;
		display:inline-block;
		min-width:53px;
		text-align:center;

		.post-date-day,
		.post-date-month {
			display:block;
			color: #1B1919;
		}

		.post-date-day {
			padding-top: 4px;
			font-size: 24px;
		}

		.post-date-month {
			padding-bottom: 8px;
			font-weight: bold;
			text-transform:uppercase;
			font-size: 12px;
			letter-spacing: 0.5px;
		}
	}

	.liner-continer {
		display: none;
	}

	.read-more-section {
    	margin-top: 15px;
	}

	.entry-content {
		line-height: 1.7;

		> p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		label[for*="pwbox-"] {
			display: inline-block;
		    width: 210px;
		    vertical-align: bottom;
		    margin-bottom: 0;

			input {
				margin-top: 10px;
			}
		}
	}
	@include clear-element;

	&.has-post-thumbnail {

		.meta-post-categories {
			margin-left: 0px;
		}
		
		.entry-title {
			margin-left: 0px;
		}

		.entry-meta {
			margin-left: 2px;
		}

		.post-date {
			top: 10px;
		}
	}

	&.post-no-title {

		.post-date {
			top: 15px;
			cursor: pointer;
			-webkit-transition:background-color .2s ease;
			-moz-transition:background-color .2s ease;
			-o-transition:background-color .2s ease;
			transition:background-color .2s ease;

			&:hover {
				background-color: #FBFBFB;
			}
		}

		div.entry-meta {
			margin-bottom: 25px;
		}
	}

	&.type-page {

		.post-date {
			top: -6px;
		}

		.entry-thumbnail {
			margin-bottom: 15px;
		}

		&.has-post-thumbnail {

			.post-date {
				top: 10px;
			}
		}
	}

	&:hover > .entry-header .post-img-wrapp > a {
		opacity: 0.6;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);	
	}
}

.blog-post-loop .entry-content,
.comments-area .comment-list li {

	h1,h2,h3,h4,h5,h6 {
		margin-top: 20px;
		letter-spacing: 0.5px;
	}

	dd {
		margin-bottom:20px;
	}

	dl {
		margin:0 20px;
		line-height:1.7;
	}

	dt {
		font-weight:bolder;
	}

	iframe {
		width: 100%;
		margin-bottom: 20px;
	}

	p {

		> iframe {
			margin-bottom: 0px;
		}
	}

	p {
		line-height: 1.7;
	}
}

/** ------------------------------------------
* ENTRY META ALL STYLE BLOGS
* ------------------------------------------ */

.type-post {

	.entry-meta {

		a {
			color: #787878;

			&:hover {
				opacity: 0.8;
			}
		}

		li {
			margin-right: 0;
			display:inline;
			font-size: 14px;
			color: #787878;
			line-height: 1.7;
					
			&:before {
				content: "/";
			    display: inline-block;
			    margin-left: 5px;
			    margin-right: 5px;
			    font-size: 10px;
			    width: 7px;
			}

			&:first-child {

				&:before {
					content:none;
				}
			}
		}
	}
}

/** ------------------------------------------
* FORMAT GALLERY 
* ------------------------------------------ */

.format-gallery {

	.entry-header .entry-thumbnail + .post-date + .meta-post-categories,
	.entry-header .entry-thumbnail + .post-date + .meta-post-categories + .entry-title,
	.entry-header .entry-thumbnail + .post-date + .meta-post-categories + .entry-title + .entry-meta {
		margin-left:0;
	}

	.entry-header .entry-thumbnail + .post-date {
		top:10px;
	}

	.owl-theme {

		.owl-controls {
			position: absolute;
			top: 0px;
			right: 10px;

			.owl-buttons {
				background-color: white;
				box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
				
				> div {
					position: static;
					filter: Alpha(Opacity=1);
    				opacity: 1;
    				-webkit-transform: none;
				    -moz-transform: none;
				    -sand-transform: none;
				    -ms-transform: none;

    				&:before {
    					width: 38px;
					    font-size: 18px;
					    height: 38px;
					    line-height: 38px;
    				}
				}
			}
		}
	}
}

/** ------------------------------------------
* STICKY POST
* ------------------------------------------ */

.blog-post-loop.sticky {

	.entry-title {
		text-transform: uppercase;

		&:before {
			content: "\f02e";
    		color: $primary-color;
			font-size: 17px;
		    margin-right: 5px;
		    vertical-align: super;
		    font-family: "FontAwesome";
		}
	}
}

/** ------------------------------------------
* QUOTE
* ------------------------------------------ */

.format-quote {
	color: black;
	text-align: center;

	.entry-header {
		margin-bottom:15px;

		&:before {
			content:"\f10e";
			display: inline-block;
			font-size: 102px;
			color: #C3C3C3;
			font-family: "FontAwesome";
		}
	}

	.meta-post-categories {
		display: none;
	}

	.entry-title {
		display: none;
	}

	.entry-meta {
		display: none;
	}

	.post-date {
		display: none;
	}

	.post-img-wrapp {
		background-color: transparent;

		> a {
			margin:0;
			transform: none;
		    -webkit-transform: none;
		    -moz-transform: none;
		    -o-transform: none;

		    img {
				border-radius: 50%;
				max-width: 200px;
			}
		}
	}

	.post-image-mask {
		display: none;
	}

	.entry-content {
		position: relative;
		text-align: center;

		blockquote {
			padding-left:0;
			margin: 0;
			border:none;
			text-align:center;
			font-size: 22px;

			> p {
				font-size: 22px;
				font-family: $title-font;
			}

			cite,
			cite a {
				color: $primary-color;
			}

			cite {
				display:inline-block;
				margin-top: 20px;
			}
		}
	}

	&:hover > .entry-header .post-img-wrapp > a  {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;	
	}
}

.format-quote.has-post-thumbnail {

	.entry-header {

		&:before {
			display:none;
		}
	}
}

/** ------------------------------------------
* FORMAT LINK
* ------------------------------------------ */

.format-link {

	.entry-content {
		font-size:20px; 

		a {
			color:rgba(255,255,255,1);
			text-align:center;
			display: block;
			padding:30px;
			background-color:rgba(0,0,0,.8);
			font-size:24px;
			text-decoration:none;

			&:hover {
				background-color:rgba(0,0,0,1);
			}
		}

		p:last-child {
			margin-bottom:0;
		}
	}
}

/** ------------------------------------------
* FORMAT STATUS
* ------------------------------------------ */

.format-status {

	.entry-content {
		font-size: 20px;
		font-style: italic;

		p,
		a {
			font-style: italic;
		}
	}

}

/** ------------------------------------------
* BLOG DESIGN DEFAULT
* ------------------------------------------ */

.blog-design-default {

	.entry-thumbnail {
		margin-bottom: -25px;
	}

	.meta-post-categories {
		margin-bottom: 10px;
	}

	.post-date {
		top: 50px;
	}
}

.blog-design-default.format-quote {

		.entry-thumbnail {
			margin-bottom: 15px;
		}
}

/** ------------------------------------------
* BLOG DESIGN ALTERNATIVE
* ------------------------------------------ */

.blog-design-default-alt {
	text-align: center;

	.entry-title {
		margin-left: 0px;
	}

	.entry-meta {
		margin-bottom:20px;
		margin-left: 0px;
	}

	.entry-thumbnail {
		margin-bottom: 15px;
	}

	.meta-post-categories {
		margin-left: 0px;
	}

	.post-date {
		top:10px;
	}

	.liner-continer {
		display: table-row;

		.social-icons {
			white-space: nowrap;
			width: auto;
			display: table-cell;
			vertical-align: middle;

			a {
				white-space: normal;
			}
		}

		.left-line,
		.right-line {

			&:after {
				background-color: rgba(92, 92, 92, 0.09);
			}
		}
	}

	.entry-content {
		margin-bottom: 25px;
		padding:0 5%;

		ol,
		ul {
			text-align: left;
		}
	}
}

/****  QUOTE  ****/

.blog-design-default-alt.format-quote {

	.liner-continer {
		display: none;
	}
}

/** ------------------------------------------
* BLOG DESIGN SMALL IMAGES
* ------------------------------------------ */

.blog-design-small-images {

	.entry-thumbnail {
		margin-right: 30px;
		float: left;
		width: 45%;
	}

	.entry-header {
		
		&:after {
			content:none;
		}
	}

	.entry-title {
		font-size: 24px;
		margin-bottom:10px;
	}

	div.entry-meta {
		margin-bottom:10px;

		ul {

			li {

				&.meta-tags {
					display: none;
				}

				& {
					.edit-link {
						display: none;
					}
				}
			}
		}
	}

	.read-more-section {
		margin-top: 15px;
	}
}

/****  LINK  ****/

.blog-design-small-images.format-link {

	.entry-content {

		a {
			font-size: 18px;
			padding: 15px;
		}
	}
}

/****  QUOTE  ****/

.blog-design-small-images.format-quote {

	.entry-thumbnail {
		margin-right: 0;
		float: none;
		width: auto;
	}

	.post-img-wrapp {

		> a {

		    img {
				max-width: 150px;
			}
		}
	}

	.entry-content {

		blockquote {
			font-size: 18px;

			> p {
				font-size: 18px;
			}
		}
	}
}

/** ------------------------------------------
* BLOG DESIGN MASONRY
* ------------------------------------------ */

.blog-design-masonry {
	margin-bottom:50px;
	text-align: center;

	.entry-thumbnail {
		margin-bottom: -25px;
	}

	.entry-title {
		font-size: 22px;
		margin-left:0;
		margin-bottom: 10px;
	}

	.meta-post-categories {
		position: relative;
		z-index: 2;
		margin-left: 0px;
	}

	.read-more-section {
    	margin-top: 15px;
	}

	div.entry-meta {
		margin-bottom: 10px;
		margin-left:0;

		ul {

			li {

				&.meta-tags {
					display: none;
				}

				& {
					.edit-link {
						display: none;
					}
				}
			}
		}
	}

	.post-date {
		display:none;
	}
}

.blog-design-masonry.has-post-thumbnail {

	.post-date {
		display:inline-block;
		left:25px;
	}
}

/****  QUOTE  ****/

.blog-design-masonry.format-quote {

	.entry-thumbnail {
		margin-bottom: 10px;
	}

	.post-img-wrapp {

		> a {

		    img {
				max-width: 150px;
			}
		}
	}

	.post-date {
		display:none;
	}

	.entry-content {

		blockquote {
			font-size: 16px;

			> p {
				font-size: 16px;
			}
		}
	}
}

/****  GALLERY  ****/

.blog-design-masonry.format-gallery {

	.entry-header .entry-thumbnail + .post-date {
		display:inline-block;
		left:25px;
	}
}

/****  LINK  ****/

.blog-design-masonry.format-link {

	.entry-content {

		a {
			font-size: 16px;
			padding: 15px;
		}
	}

}

/** ------------------------------------------
* POST DESIGN MASK
* ------------------------------------------ */

.blog-design-mask {
	margin-bottom: 30px;

	.entry-header {
		position:relative;
	}

	.entry-thumbnail {
		margin-bottom: 0;
	}

	.entry-content {
		display: none;
	}

	h3.entry-title {
		font-size: 24px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	.entry-meta {
		margin-bottom: 0;
		margin-top: 5px;
	}

	.meta-post-categories {
		margin-bottom: 0;
	}

	&.has-post-thumbnail:not(.format-quote) {

		.post-mask {
			position: absolute;
		    left: 0;
		    bottom: 0;
		    width:100%;
		    padding: 30px 20px 20px 20px;
		    background: -moz-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
		    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    background: -o-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    background: -ms-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
	    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
		}

		h3.entry-title {

			> a {
				color:white;

				&:hover {
					color:rgba(255, 255, 255, 0.8);
				}
			}
		}

		.entry-meta {

			li {
				color:rgba(255, 255, 255, 0.8);

				&.meta-author {

					a {
						color:rgba(255, 255, 255, 0.8);
					}
				}
			}

			a {
				color:rgba(255, 255, 255, 0.8);
			}
		}		
	}

	&.format-quote {
		
		.entry-content {
			display: block;
		}
	}
}

/** ------------------------------------------
* POST SLIDE
* ------------------------------------------ */

.post-slide {
	margin-bottom: 20px;
	text-align: center;

	.post-head {
		position:relative;
	}

	.post-mask {

		> p {
			margin-bottom: 15px;
			line-height: 1.7;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	
	.entry-thumbnail {
		margin-bottom:10px;
	}

	.meta-post-categories {
		position: relative;
		z-index: 2;
		display: inline-block;
		background-color: $primary-color;
		color:white;
	    padding-left: 10px;
	    padding-right: 10px;
    	margin-bottom: 5px;
    	height: 25px;
    	overflow: hidden;

		> a {
			display: inline-block;
    		line-height: 25px;
			color:white;
			text-transform: capitalize;
    		font-size: 12px;
		}
	}

	.entry-title { 
		font-size:22px;
		margin-bottom:5px;

		a {
			font-family:$secondary-title;
			font-weight:bold;
			text-decoration:none;
			letter-spacing: 0.3px;
    		color: #1B1919;

			&:hover {
				color:$primary-color;
			}
		}
	}

	.entry-content {
		line-height: 1.7;
		
		p {
			line-height: 1.7;
		}
	}

	.read-more-section {
		margin-top: 15px;
	}

	.entry-meta {
		margin-bottom:7px;
	}

	.post-date {
		position:absolute;
		top:10px;
		left:10px;
		background-color: white;
		box-shadow: 0 0 9px rgba(0,0,0,0.1);
		z-index: 2;
		display:none;
		padding-left: 13px;
		padding-right: 13px;
		text-align:center;

		.post-date-day,
		.post-date-month {
			display:block;
			color: #272525;
		}

		.post-date-day {
			padding-top: 4px;
			font-size: 24px;
		}

		.post-date-month {
			padding-bottom: 8px;
			font-weight: bold;
			text-transform:uppercase;
			font-size: 12px;
			letter-spacing: 0.5px;
		}
	}

	iframe {
		max-width: 100%;
	}

	&.format-standard {
		
		.entry-thumbnail {
			margin-bottom: -25px;
		}
	}

	&.blog-design-mask {
		position: relative;
		text-align: left;

		.entry-thumbnail {
			margin-bottom: 0;
		}

		.entry-meta {
			margin-bottom: 0;
		}

		.meta-post-categories {
			margin-bottom: 0;
		}
	}

	&.format-link {

		.post-mask {

			> p {

				a {
					color:rgba(255,255,255,1);
					text-align:center;
					display: block;
					padding:15px;
					background-color:rgba(0,0,0,.8);
					font-size:16px;
					text-decoration:none;

					&:hover {
						background-color:rgba(0,0,0,1);
					}
				}
			}
		}
	}

	&.format-quote {
		text-align: center;

		&:before {
			content:"\f10e";
			display: inline-block;
			font-size: 56px;
			color: #C3C3C3;
			font-family: "FontAwesome";
		}

		.entry-thumbnail {
			margin-bottom:20px;

			img {
				max-width: 100px;
				border-radius:50%;
			}
		}

		.meta-post-categories {
			display: none;
		}

		.post-date {
			display:none;
		}

		.post-mask {

			blockquote {
				padding-left:0;
				margin: 0;
				border:none;
				text-align:center;
				font-size: 14px;

				> p {
					font-size: 14px;
					font-family: $title-font;
				}

				cite,
				cite a {
					font-size:12px;
				}

				cite {
					display:inline-block;
					margin-top: 15px;
				}
			}
		}

		&.has-post-thumbnail {

			&:before {
				content:none;
			}
		}
	}

	&.has-post-thumbnail {

		.post-date {
			display:inline-block;
		}
	}
}

/** ------------------------------------------
*  SINGLE PAGE
* ------------------------------------------ */

.blog-post-loop.post-single-page {
	margin-bottom: 0;
	// text-align: left;

	.entry-thumbnail {
		float: none;
		width: 100%;
		margin-bottom:-25px;
	}

	.meta-post-categories {
		margin-bottom: 10px;
	}

	.entry-title {
	    font-size: 32px;
	    margin-bottom: 10px;
		// text-align: left;
		// font-family:$secondary-title;
	}

	.entry-meta {
		margin-bottom:20px;
		// text-align:left;

		li {
			margin-bottom: 0;

			&.meta-tags {
				display: inline-block;
			}
				
			& {
				.edit-link {
					display: inline-block;
				}
			}
		}
	}

	.entry-content {
		font-size: 15px;

		p {
			line-height:1.8;
			margin-bottom: 20px;
		}
	}

	.liner-continer {
		display: none;
	}
}

.post-single-page.blog-design-default-alt {
	text-align:center;

	.entry-thumbnail {
		margin-bottom: 15px;
	}

	.entry-content {
		text-align:left;
		padding:0;
	}
}

.post-single-page.blog-design-masonry {
	text-align:left;

	.post-date {
		left:10px;
	}
}

.post-single-page.blog-design-mask {

	.entry-content {
		display: block;
	}

	h3.entry-title {
		margin-top: 0;
	}

	 .entry-meta {
	 	margin-top: 0;
	 }

	&.has-post-thumbnail {

		.post-mask {
			position: static;
		    left: auto;
		    bottom: auto;
		    // width:100%;
		    padding: 0;
		    background: none;
		    // background: -moz-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
		    // background: -webkit-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    // background: -o-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    // background: -ms-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
		    // background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.7) 100%);
	    	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
		}

		// h3.entry-title {

		// 	> a {
		// 		color:white;

		// 		&:hover {
		// 			color:rgba(255, 255, 255, 0.8);
		// 		}
		// 	}
		// }

		.entry-meta {

			li {
				color:#787878;

				&.meta-author {

					a {
						color:#787878;
					}
				}
			}

			a {
				color:#787878;
			}
		}		
	}
}

.blog-post-loop.post-single-page.format-quote {
	text-align:center;

	.entry-thumbnail {

	    img {
			border-radius: 50%;
			max-width: 200px;
		}
	}

	.post-date {
		display: none;
	}
}

.single-post-social {
	text-align: center;
	margin-bottom: 40px;
	@include social-icons;
}

.single-post-navigation {
	padding: 15px 10px;
	margin-bottom: 40px;
	background-color: #F7F7F7;

	a {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .3px;

		&:hover {
			text-decoration:none;
			color: $primary-color;
		}
	}

	.prev-link {
		float:left;

		a {
			padding-left: 15px;

			&:before {
				content:"\f104";
				margin-right: 10px;
				font-family: "FontAwesome";
			}
		}
	}

	.next-link {
		float:right;
		text-align: right;

		a {
			padding-right:15px;

			&:after {
				content:"\f105";
				margin-left:10px;
				font-family: "FontAwesome";
			}
		}
	}
@include clear-element;
}


#comments .avatar,
.basel-user-panel .avatar { 
	margin-left: 0px; 
}

.comments-area {

	.comments-title,
	.comment-reply-title {
		font-size: 24px;
		text-transform:uppercase;
		font-weight:bold!important;
	}

	.comment-list {
		margin-bottom: 50px;

		li.comment {
			padding-bottom: 40px;
			padding-top: 40px;
			border-bottom:1px solid rgba(113, 113, 113, 0.15);

			.comment-respond {
				margin-top:30px;
			}

			.comment-reply-title {
				font-size: 18px;
			}

			.children {
				padding-left: 30px;
				margin-top: 40px;
				margin-bottom:0;
				list-style: none;

				li {
					border-top: 1px solid rgba(113, 113, 113, 0.15);
					border-bottom: none;

					&:last-child {
						padding-bottom:0;
					}
				}
			}
		}

		li.pingback {

			.comment-body {
				padding-left: 0;
			}
		}
	}

	#cancel-comment-reply-link {
		display: inline-block;
		font-size: 0;

		&:after {
			content:"\f00d";
			font-family: "FontAwesome";
			margin-left: 10px;
			font-size: 18px;
		}

		&:hover {
			text-decoration: none;
			color:$primary-color;
		}
	}

	.comment-body {
		position: relative;
  		padding-left: 105px;

		p {
			margin-bottom: 10px;
		}

		.comment-author {
			line-height: 20px;
			font-size: 16px;
			margin-bottom: 10px;
			float: left;

			&:first-letter {
				text-transform: uppercase;
			}

			.fn {
				color: #1B1919;
				font-weight:bold;
				font-style: normal;
				vertical-align: middle;
			}

			.says {
				color: #5F5F5F;
    			margin-left: 3px;
    			vertical-align: middle;
			}

			img {
				position: absolute;
				left: 0px;
				top: 0px;
			}
		}

		.comment-awaiting-moderation {
			position: absolute;
			top: -26px;
			left: 92px;

			+ br {
				display:none;
			}
		}

		.comment-meta {
			line-height: 20px;
			margin-bottom: 15px;
			font-size: 14px;
			text-align: right;

 			a {
 				color: #bbbbbb;
 				vertical-align: middle;
 			}

 			.comment-edit-link {
				color: #565656;
 			}
		}

 		.comment-edit-link {
 			font-size: 0;
 			margin-left: 5px;
 			display: inline-block;

 			&:after {
 				content:"\f044";
 				font-family: "FontAwesome";
 				font-size: 14px;
 				display: inline-block;
 				vertical-align: middle;
 			}

 			&:hover {
 				text-decoration: none;
 				color: $primary-color;
 			}
 		}
	}

	.reply {
		margin-top: 15px;
			
		a {
			line-height: 1.5;
			color:$primary-color;
			font-weight: bold;
			@include border-link;
		}
	}

	.comment-respond {

		.logged-in-as {

			> a:first-child {
				font-weight:bold;
			}

			> a:last-child {
				@include border-link;
				margin-left: 10px;
			}
		}

		label {
			display:block;
		}

		input[type="submit"] {
			@include btn-color-primary;
		}

		textarea {
			width:100%;
		}

		.comment-form-comment {
			margin-bottom:10px;
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			display:inline-block;
			width:33%;
			margin-bottom:20px;
		}

		.comment-form-author {
			padding-right:10px;
		}

		.comment-form-email {
			padding-left:10px;
			padding-right:10px;
		}

		.comment-form-url {
			padding-left:10px;
		}
	}
}

.page-links {

	a {
		border: 2px solid #BFBFBF;
	    display: inline-block;
	    text-align: center;
	    line-height: 32px;
	    width: 36px;
	    margin-right: 6px;
	    font-size: 14px;
	    text-decoration: none;
		color:#929292;

	    &:hover {
			background-color:#BFBFBF;
			color:white;
	    }

	    &:focus {
			background-color:#A5A5A5;
			color:white;
			border-color:#A5A5A5;
	    }
	}

	> span {
		border: 2px solid #BFBFBF;
		background-color:#BFBFBF;
		display: inline-block;
	    text-align: center;
	    line-height: 32px;
	    width: 36px;
	    margin-right: 6px;
	    font-size: 14px;
	    color:white;
	}

	.page-links-title {
		border:none;
		width:auto;
		margin-right:10px;
		font-size: 18px;
		background-color:transparent;
		color:inherit;
	}
}