
/** ------------------------------------------------------------------------------------------------
* FOOTER
* ------------------------------------------------------------------------------------------------ */

.footer-container {
	width: 100%;

    .widget-area {
		padding: 50px 0 20px 0;
	}

    .footer-column {
    	margin-bottom: 30px;
    }

    .footer-widget {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom:0px;
		}
	}

	.title {
		font-size: 16px;
		text-transform: uppercase;
		border-bottom: 2px solid rgba(124, 124, 124, 0.2);
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	ul {
        list-style: none;
        line-height: 1;
          
        li {
            margin-bottom: 15px;

            &:last-child {
              	margin-bottom: 0px;
			} 
        }
    }

    //****  color scheme light   ****//

    &.color-scheme-light {

		color:rgba(255,255,255,0.6);

	    a {
	        color:rgba(255,255,255,0.6);

	        &:hover {
	            color:rgba(255,255,255,1);
	        }

	        &:focus {
	            color:rgba(255,255,255,1);
	        }
	    }
	    
	    p {
	        color:rgba(255,255,255,0.6);
	    }

	    ul {

	        li {
	            color:rgba(255,255,255,0.6);

	            a {
	                color:rgba(255,255,255,0.6);

	                &:hover {
	                    color:rgba(255,255,255,1);
	                }

	                &:focus {
	                    color:rgba(255,255,255,1);
	                }
	            }
	        }
	    }

		ul {

          	li {
 				border-color: rgba(255, 255, 255, 0.1);
        	}
    	}

    	.title {
			border-color:rgba(255, 255, 255, 0.30);
		}

		.main-footer + .copyrights-wrapper .min-footer {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}
    }
}

.main-footer + .copyrights-wrapper .min-footer {
	border-top: 1px solid rgba(124, 124, 124, 0.20);
}

/** ------------------------------------------
* MIN FOOTER
* ------------------------------------------ */

.min-footer {
	display: table;
	width: 100%;
	padding: 20px 0;
	line-height:1.6;

	p {
		margin-bottom: 0;
	}

	.col-left,
	.col-right {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
	}

	.col-left {
		text-align: left;
	}

	.col-right {
		text-align: right;
	}

	.social-icons {

		li {
			margin-bottom:0;
		}
	}
}

.copyrights-centered {

	.min-footer {

		> div {
			display: block;
			text-align: center;
			width: 100%;
			margin-top: 15px;

			&:first-child,
			&:last-child:empty {
				margin-top: 0px;
			}
		}
	}
}
	

	
