
/** ------------------------------------------------------------------------------------------------
* OTHER
* ------------------------------------------------------------------------------------------------ */

.page-title {
	width: 100%;
	border-bottom: 1px solid rgba(168, 168, 168, 0.15);
	position: relative;
	margin-top: -40px;
	margin-bottom: 40px;

	h1 {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.entry-header {

		.breadcrumbs {
			font-size: 0px;

			> span,
			> a {
				font-size: 14px;
				display: inline-block;

				&:after {
					content: "/";
					display:inline-block;
					padding: 0 10px;
				}
			}
			
			> a {

				&:before {
					content: "\f015";
					display: inline-block;
					margin-right: 5px;
					font-family: "FontAwesome";
				}
			}

			> span {

				&:last-child {

					&:after {
						content: none;
						padding: 0;
					}
				}
			}
		}
	@include clear-element;
	}

	&.color-scheme-light {

		.breadcrumbs {
			color:rgba(255,255,255,0.9);

			a,
			span {
				color:rgba(255,255,255,0.9);
			}

			a {

				&:hover {
					color:white;
				}
			}
		}
	}
}

/** ------------------------------------------
* TITLE SIZE 
* ------------------------------------------ */

.title-size-small {
	padding: 15px 0;

	.entry-title,
	h1 {
		font-size: 36px;
	}
}

.title-size-default {
	padding: 60px 0;
	
	.entry-title,
	h1 {
		font-size: 48px;
	}
}

.title-size-large {
	padding: 100px 0;
	
	.entry-title,
	h1 {
		font-size: 56px;
	}
}

/** ------------------------------------------
* TITLE DESIGN
* ------------------------------------------ */

.title-design-centered {

	.entry-header {
		text-align: center;
	}

	.breadcrumbs {
		line-height: 1.6;
		margin-top: 5px;
	}
}

.title-design-default {

	.entry-title {
		float: left;
		line-height: 50px;
	}

	.breadcrumbs {
		float: right;
		line-height: 50px;
	}
}

/** ------------------------------------------
* WRAPPER BOXED
* ------------------------------------------ */

.wrapper-boxed {

	.website-wrapper {
		max-width: 1200px;
	}

	.scrollToTop {
	    bottom: 40px;
    	right: 20px;	
	}
}

/** ------------------------------------------
* WRAPPER BOXED SMALL
* ------------------------------------------ */

.wrapper-boxed-small {

	.website-wrapper {
		max-width: 1000px;
	}

	.basel-wrapper-shifted {
		transform: translate3d(-157px,0,0);
		-webkit-transform: translate3d(-157px,0,0);
		-ms-transform: translate3d(-157px,0,0);
		-sand-transform: translate3d(-157px,0,0);
		-o-transform: translate3d(-157px,0,0);
		-moz-transform: translate3d(-157px,0,0);
	}

	.container {
  		max-width: 1000px;
	}
}

.wrapper-boxed,
.wrapper-boxed-small {

	.website-wrapper {
		overflow: hidden;
		margin: 0 auto;
		box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.26);
	}

	&.sticky-header-prepared .header-shop,
	&.basel-header-overlap .main-header,
	.sticky-header {
		left: auto;
	    right: auto;
	    max-width: inherit;		
	}

	.owl-theme {

		.owl-controls {

			.owl-buttons {
				
				> div {
					background-color: white;
					box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
					filter: Alpha(Opacity=1);
    				opacity: 1;

    				&.disabled {
    					color: rgba(0, 0, 0, 0.3);
    				}

				    &.owl-next {
						right:20px;
					}

					&.owl-prev  {
						left:20px;
					}

    				&:before {
    					width: 38px;
					    font-size: 18px;
					    height: 38px;
					    line-height: 38px;
    				}
				}
			}
		}

		&:hover .owl-controls .owl-buttons div.owl-next {
			right:20px;
		}

		&:hover .owl-controls .owl-buttons div.owl-prev {
			left:20px;
		}
	}

	.popup-quick-view {

		.owl-theme {

			.owl-controls {

				.owl-buttons {
					
					> div {
						filter: Alpha(Opacity=0);
	    				opacity: 0;
					}
				}
			}
		}
	}
}

/** ------------------------------------------
* WRAPPER FULL WIDTH
* ------------------------------------------ */

.wrapper-full-width-content {
	
	.container {
		width: 95%;
	}
}

.global-header-vertical {

	.container {
   		max-width: none;
   		width: 100%;
   		padding-left: 30px;
   		padding-right: 30px;

		.container {
   			padding-left: 0;
   			padding-right: 0;
		}
	}

	.vc_row:not(.vc_inner) {
   		margin-left: -30px;
   		margin-right: -30px;
   		padding-left: 15px;
   		padding-right: 15px;
	}

	&.wrapper-full-width {

		.container {
			max-width: 1200px;
		}
	}

	&.wrapper-wide {

		.container {
			max-width: 1600px;
			width: 100%;
		}	
	}

	&.wrapper-boxed {
		padding-left: 280px;

		.website-wrapper {
			padding-left: 0;
		}

		.container {
			max-width: 1200px;
		}
	}
}

/** ------------------------------------------
* CLOSE BUTTON MOBILE NAV AND SIDEBAR CART
* ------------------------------------------ */

.basel-close-side {
	content:" ";
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	opacity:0;
	visibility:hidden;
	z-index:400;
	width: 100%;
	height: 100%;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

/** ------------------------------------------
* PAGINATION
* ------------------------------------------ */

.basel-pagination {
	text-align:center;

	.current, 
	.inactive {
		border:1px solid transparent;
		border-bottom-color:#B1B1B1;
		display: inline-block;
		text-align: center;
		width: 34px;
		line-height: 32px;
		margin-right:6px;
		font-size:16px;
		color:black;
	}

	.current {
		background-color:black;
		border-color:black;
		color:white;
	}

	.inactive {

		&:hover,
		&:focus {
			text-decoration:none;
			border-color:#B1B1B1;
		}

		&:focus {
			background-color:black;
			border-color:black;
			color:white;
		}
	}
}

/** ------------------------------------------
* BUTTON SCROLL TO TOP
* ------------------------------------------ */

.scrollToTop {
    width: 45px;
    height: 45px;
    text-align: center;
    color: black;
    z-index: 350;
    font-size: 0;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;
    position: fixed;
    bottom: 75px;
    right: 40px;
    visibility: hidden;
    opacity: 0;
    // padding: 11px 12px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform:scale(1);
    -moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);

    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
	// @include tooltip-icon(50%, auto, auto, 99%, 0, -50%, "\f0da");
	// @include tooltip-position(50%, 140%, auto, auto, 0, -50%);
	// @include tooltip-hover(50%, 120%, auto, auto);

	&.button-show {
		visibility: visible;
		opacity: 1;
	}

	.basel-tooltip-label {
		display:none;
	}

	&:after {
		content:"\e607";
		display:inline-block;
	    font-size: 18px;
	    line-height: 42px;
		font-family: 'simple-line-icons';
	}

	&:hover,
	&:focus {
		text-decoration:none;
		background: $primary-color;
		border-color:$primary-color;
		color:white;
		transform:scale(0.91);
	    -moz-transform:scale(0.91);
		-o-transform:scale(0.91);
		-webkit-transform:scale(0.91);
	}
}

/** ------------------------------------------
* PROMO POPUP
* ------------------------------------------ */

.basel-promo-popup {
	display: none;
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    position: relative;
    opacity: 0;
    transform:translateY(50px);
    -webkit-transform:translateY(50px);
    -o-transform:translateY(50px);
    -moz-transform:translateY(50px);
    -webkit-transition:all 0.3s ease;
	-o-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
    transition:all 0.4s ease;

	.mfp-close {
		font-size:0;
		@include close-btn( $height:1px, $width:30px, $color: black);
		opacity:1;
		
        &:after {
            transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
            -sand-transform:rotate(-45deg);
        }

        &:before {
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            -sand-transform:rotate(45deg);
            transform:rotate(45deg);
        }

		&:after,
		&:before {
			right: 9px;
		}
	}

	.mfp-wrap & {
		display: block;
	}

	.basel-popup-effect.mfp-ready & {
		-webkit-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}

	.basel-popup-effect.mfp-removing & {
		-webkit-transform:translateY(-50px);
		-o-transform:translateY(-50px);
		-moz-transform:translateY(-50px);
		transform:translateY(-50px);
		opacity: 0;
	}
}

/** ------------------------------------------
* LINER CONTAINER
* ------------------------------------------ */

.liner-continer {
	display: table-row;

	.left-line,
	.right-line {
		display: table-cell;
		vertical-align: middle;
		width: 50%;

		&:after {
			content:"";
			width: 100%;
			display: inline-block;
			height: 1px;
			vertical-align: middle;
		}
	}

	.left-line {
		padding-right: 20px;

	}

	.right-line {
		padding-left: 20px;
	}

	&.position-left {

		.right-line {
			display:none;
		}

		.left-line {
			width:100%;
		}
	}

	&.position-right {

		.right-line {
			width:100%;
		}

		.left-line {
			display:none;
		}
	}
}

/** ------------------------------------------
* Font Awesome icon spacing
* ------------------------------------------ */

i.fa {

	&:before {
		margin-left:1px;
		margin-right:1px;
	}
}

/** ------------------------------------------
* SLIDER TITLE
* ------------------------------------------ */

.slider-title {
	text-align: center;
	font-size: 26px;
	margin-bottom:30px;
	text-transform:uppercase;
	position:relative;

    &:before {
        content: " ";
        position:absolute;
        bottom:-12px;
        left:50%;
        margin-left:-15px;
        width:30px;
        height: 2px;
        display: inline-block;
        background-color: $primary-color;
    }
}

/** ------------------------------------------
* REV SLIDER ADD TO CART
* ------------------------------------------ */

.rev_slider_wrapper {

	.add_to_cart_button {

		&.loading {
			padding-right:35px!important;
			padding-left:15px!important;
		}
	}

	.btn,
	.button,
	 button,
	.added_to_cart {
    	color: #5F5F5F;
    	-webkit-transition:all 0.25s ease-in-out!important;
		-moz-transition:all 0.25s ease-in-out!important;
		-o-transition:all 0.25s ease-in-out!important;
		transition:all 0.25s ease-in-out!important;

    	&:hover {
    		color:white;
    	}
	}
}

/** ------------------------------------------
* ADMIN BAR POSITION ELEMENTS
* ------------------------------------------ */

.admin-bar {

	.sticky-header.act-scroll {
		top: 32px;
	}

	&.sticky-navigation-only.sticky-header-prepared {
		
		.main-header {

			.navigation-wrap {
				top: 32px;
			}
		}
	}

	.cart-widget-side,
	.mobile-nav {
		top: 32px;
	}
}

