
/* ------------------------------------------------------------------------------------------------
* Responsive web design, > 768px (MOBILE)
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 768px) {

	// ------------------------------------------
	// PAGE TITLE
	// ------------------------------------------ 

	.title-size-default,
	.title-size-large,
	.title-size-small {
		padding: 10px 0;
	}

	// ------------------------------------------
	// HEADERS
	// ------------------------------------------ 

	.main-header {

		&.header-menu-top {

			.navigation-wrap {

				.container {
					width:100%;
				}
			}
		}
	}

	.header-full-width {
		.sticky-header,
		.topbar-wrapp,
		.main-header,
		.main-header .navigation-wrap,
		.main-header .secondary-header,
		.single-breadcrumbs-wrapper {
			> .container {
				width:100%;
			}
		}
	}

	.sticky-header {

		> .container {
			width:100%;
		}
	}

	.global-header-vertical {

		.owl-theme:hover {

			.owl-controls {

				.owl-buttons {

					div.owl-prev {
						left: 20px;
					}

					div.owl-next {
						right: 20px;
					}
				}
			}
		}
	}

	// ------------------------------------------
	// LOGIN & REGISTER
	// ------------------------------------------ 

	.basel-registration-page {
		padding:0;
		margin:0;

		&:after {
			content:none;
		}
	}

	.col-register {
		padding-left:0px;
		margin-bottom:20px;
	}

	.col-login {
		padding-right:0px;
		margin-bottom:50px;
	}

	.basel-register-tabs {

		.col-register {
			padding-right:0px;
		}

		.col-register-text {
			padding-left:0px;
			margin-bottom:20px;
		}
	}

	.register-or {
		display:block;
	}

	// ------------------------------------------
	// CART 
	// ------------------------------------------ 

	.woocommerce {

		.shop_table.cart {

			thead {

				th {
					font-size: 14px;

					&.product-thumbnail {
						display:none;
					}
				}
			}
			
			td {

				padding: 20px 5px;

				&.product-thumbnail {
					display:none;
				}

				&.product-price,
				&.product-subtotal {
					
					span {
						font-size:14px;
					}
				}
			}
		}

		.cart-actions {
			text-align: center;
			margin-top: 50px;
			margin-bottom:50px;

			.coupon {
				text-align: center;
  				float: none;
  				margin-bottom: 20px;

  				.input-text {
  					width: 80%;
  					margin-bottom: 20px;
  					padding: 12px 15px;
  				}

  				.button {
  					margin-left: 0;
  				}
			}

			.button {
				width: 80%;
  				padding: 18px 0;
  				font-size: 16px;
			}
		}
	}

	// ------------------------------------------
	// CHECKOUT
	// ------------------------------------------ 

	.woocommerce-checkout {

		.login,
		.checkout_coupon {
			width:100%;
			max-width:100%;
		}

		.checkout_coupon {

			p {

				&.form-row-last,
				&.form-row-first {
					width:100%;
				}

				&.form-row-first {
					margin-bottom: 20px;
				}
				
				.input-text {
					padding: 12px 10px;
					
				}

				.button {
					padding: 14px 10px;
  					font-size: 16px;
    				letter-spacing: 1px;
  					width: 100%;
				}
			}
		}

		.cart-collaterals {
			width: 80%;
			margin: 0 auto;
		}
	}

	// ------------------------------------------
	// THANK YOU PAGE
	// ------------------------------------------

	.woocommerce {

		ul.woocommerce-thankyou-order-details,
		ul.wc-bacs-bank-details {
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;

		    li {
		    	flex-basis:50%;
		    	-webkit-flex-basis:50%;
		    	-ms-flex-basis:50%;
		    	margin-bottom: 30px;

		    	&:nth-child(even) {
		    		border-right:none;
		    	}
		    } 
		}
	}

	// ------------------------------------------
	// WOOCOMMERCE COLUMN
	// ------------------------------------------ 

	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
	.woocommerce .form-row-first,
	.woocommerce .form-row-last,
	.woocommerce-page .form-row-first,
	.woocommerce-page .form-row-last {
		width:100%;
		float:none;
	}

	// ------------------------------------------
	// SPACING IN MASONRTY GRID
	// ------------------------------------------ 

	.product-grid-item {
		margin-bottom: 30px;
	}

	.products {
		margin-left: -5px;
		margin-right: -5px;


		.product-grid-item {
			padding-left: 5px;
    		padding-right: 5px;
		}

		.product-grid-item {
			margin-bottom: 30px;
		}
	}
	
	// ------------------------------------------
	// HOVER BASE
	// ------------------------------------------ 

	.basel-hover-base {

		.hover-mask {
			visibility: visible;
			opacity: 1;
			bottom: 0;
		} 
	}

	// ------------------------------------------
	// HOVER BUTTON
	// ------------------------------------------ 

	.basel-hover-button {

		> .product-element-top {

			> a {
				opacity:1!important;

				span {
					opacity:1!important;
					visibility: visible!important;
					-webkit-transform: none!important;
				    -moz-transform: none!important;
				    -o-transform: none!important;
				    -ms-transform: none!important;
				    -sand-transform: none!important;
				}
			}

			.basel-buttons {
				opacity:1!important;
			}

			.hover-mask {
				display:none;
			}
		}

		.yith-wcwl-add-to-wishlist { 

			> div {

				> a {
					color: rgba(0, 0, 0, 0.9);

					&:hover {
						color: rgba(0, 0, 0, 0.7);
					}

					&:after {
						border-color: rgba(0, 0, 0, 0.9);
					}
				}
			}
		}

		.basel-buttons {

			.quick-view,
			.product-compare-button {

				> a {
					color: rgba(0, 0, 0, 0.9);

					&:hover {
						color: rgba(0, 0, 0, 0.7);
					}

					&:before {
						border-color:rgba(0, 0, 0, 0.9);
					}
				}
			}
		}
	}

	// ------------------------------------------
	// HOVER INFO
	// ------------------------------------------ 

	.basel-hover-info {
		margin-bottom: 50px;

		> .product-element-top {
			background-color: transparent;

			> a {
				margin-bottom:10px;
				opacity: 1!important;
			}
		}

		.hover-mask {
			position: static;
			visibility: visible;
			opacity: 1;
				
			-webkit-transform:none;
			-moz-transform:none;
			-ms-transform:none;
			-sand-transform:none;
			-o-transform:none;
			transform:none;
		}
					
		.product-title {

			a {
				color: #403D3D;

				&:hover {
					color: #403D3D;
					opacity:0.8;
				}
			}
		}

		.star-rating {

			&:before {
				color: #383838;
			}

			span {

				&:before {
					color: #383838;
				}
			}
		}

		.price {
			color:#949494;

			del {
    			color: #BDBDBD;

    			.amount {
					color: #BDBDBD;
				}
			}

			ins {
				.amount {
					color: $primary-color;
				}
			}
				
			.amount {
				color:#949494;
			}
		}

		.product-actions {
			   transform: none;
			   -webkit-transform: none;
			   -moz-transform: none;
			   -ms-transform: none;
			   -o-transform: none;
			   -ms-transform: none;
			   -sand-transform: none;

			   > a {
				@include btn-color-black;
				color:black;
				background-color:transparent;
				border-width:2px;
			}
		}
	}

	// ------------------------------------------
	// BUTTONS ON HOVER
	// ------------------------------------------ 

	.basel-hover-button,
	.basel-hover-info {
		
		.yith-wcwl-add-to-wishlist { 

			> div {

				> a {
					color: rgba(0, 0, 0, 0.9);

					&:hover {
						color: rgba(0, 0, 0, 0.7);
					}

					&:after {
						border-color: rgba(0, 0, 0, 0.9);
					}
				}
			}
		}

		.basel-buttons {

			.quick-view,
			.product-compare-button {

				> a {
					color: rgba(0, 0, 0, 0.9);

					&:hover {
						color: rgba(0, 0, 0, 0.7);
					}

					&:before {
						border-color:rgba(0, 0, 0, 0.9);
					}
				}
			}
		}
	}

	.product-grid-item:not(.basel-hover-base) {
		
		.product-element-top .product-compare-button,
		.product-element-top .quick-view,
		.product-element-top .yith-wcwl-add-to-wishlist {
			opacity: 1;
			visibility: visible;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
			-sand-transform: none;
		}
	}

	// ------------------------------------------
	// HOVER ALTERNATIVE
	// ------------------------------------------ 

	.basel-hover-alt {

		.wrap-price {
		    flex-direction: column;
		    align-items: flex-start;
		    -webkit-align-items: flex-start;
		    -webkit-flex-direction: column;
		    -ms-align-items: flex-start;
		    -ms-flex-direction: column;
		}

		.swatches-on-grid {
    		margin-top: 5px;
		}

		&.purchasable,
		&.product-type-grouped,
		&.product-type-external {

			.wrapp-swap,
			.price,
			.btn-add {
				height: auto;
    			line-height: 1.2;
			}

			.wrapp-swap {
				overflow: visible;
			}

			.price {
				margin-bottom: 10px;
			}

			&:hover {

				.swap-elements {
					transform:none;
					-webkit-transform:none;
					-o-transform:none;
					-moz-transform:none;
					-ms-transform:none;
					-sand-transform:none;				
				}
			}
		}
	}

	.basel-hover-link {

		.wrapp-swap {
			height: auto;
			line-height: inherit;
			overflow: visible;
		}

		.price {
			height: auto;
			line-height: inherit;
			overflow: visible;
			margin-bottom: 10px;
		}

		.btn-add {
			height: auto;
			line-height: inherit;
		}

		&:hover .wrapp-swap .swap-elements {
			transform:none;
			-webkit-transform:none;
			-o-transform:none;
			-moz-transform:none;
			-ms-transform:none;
			-sand-transform:none;
		}
	}

	.basel-hover-standard,
	.basel-hover-excerpt {

		.swatches-wrapper {
		    -webkit-transform: none;
		    transform: none;
		}
	}

	.basel-hover-quick {
		
		.quick-shop-wrapper {
			top:100%;
		}

		.variations {

			label {
				margin-bottom: 5px;
			}

			tr {
				padding-bottom: 0;
			    border-bottom: none;
			}
		}

		&:hover {

			.quick-shop-wrapper {
				transform: none;
    			-webkit-transform: none;
			}
		}

		&.quick-shop-shown {

			.quick-shop-wrapper {
				transform: translate3d(0, -100%, 0);
			    -webkit-transform: translate3d(0, -100%, 0);
			}			
		}
	}

	// ------------------------------------------
	// SWATCH ON GRID
	// ------------------------------------------ 

	.swatch-on-grid .basel-tooltip-label {
    	display:none;
	}	

	// ------------------------------------------
	// SINGLE PRODUCT PAGE IN SHOP
	// ------------------------------------------ 

	.single-product-content {

		.product-image-summary {
			margin-bottom: 30px;

			.product-images {
				margin-bottom: 20px;
			}
		}

		.entry-title {
			font-size: 28px;
		}

		.tabs {
			margin-bottom: 35px;

			li {
				display: block;
				margin-right: 0;
				margin-bottom: 20px;
				border-bottom: none;

				a {
					border-bottom:1px solid transparent;
				}

				&.active {

					a {
						border-color:#545454;
					}
				}
			}
		}
	}

	.product-design-sticky {

		.entry-summary {
			height:auto!important;

			.summary-inner {
				padding: 0;
				position:static!important;
			}

			div[itemprop="description"] {
				max-height: 100%;
			    overflow: visible;
			}

			&.block-sticked.not-in-viewport {

				div[itemprop="description"] {
					max-height:100%;
					margin-bottom:20px;
				}
			}

			&.block-sticked {

				.summary-inner {
					transform:none!important;
					-webkit-transform:none!important;
					-moz-transform:none!important;
					-o-transform:none!important;
				}
			}

			&.hide-temporary {
				opacity: 1;
			}
		}
	}

	.product-design-compact {

		.product-image-summary {
			margin-bottom: 0;

			.row {
				display: block;
			}
		}

		.basel-scroll {
			position: static;
			overflow: visible;

			.basel-scroll-content {
				position: static;
				overflow: visible;
				padding-left: 0px;
    			padding-right: 0px;
			}

			.basel-scroll-pane {
				display: none!important;
			}
		}
	}

	// ------------------------------------------
	// QUICK VIEW
	// ------------------------------------------ 

	.popup-quick-view {

		.entry-summary {
		    padding-left: 40px;
		    padding-right: 40px;
		    padding-bottom: 40px;
		    padding-top: 0px;
		}

		.owl-theme {

			.owl-controls {

				.owl-buttons {
					
					> div {
						filter: Alpha(Opacity=1);
	    				opacity: 1;

						&.owl-next {
							right:20px;
						}

						&.owl-prev  {
							left:20px;
						}
					}
				}
			}

			&:hover .owl-controls .owl-buttons div.owl-next {
				right:20px;
			}

			&:hover .owl-controls .owl-buttons div.owl-prev {
				left:20px;
			}
		}

		.single-product-content {

			.product-image-summary {
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}
		}

		.basel-scroll,
		.basel-scroll-content {
			position: static;
			padding: 0;
		}
	}

	// ------------------------------------------
	// BLOG
	// ------------------------------------------ 

	//** single page in blog **//

	.comments-area {

		.comment-list {

			li {
				.children {
					padding-left: 0px;
				}
			}

			.comment-author {
				float: none;
			}

			.comment-meta {
				text-align:left;
			}
		}
	}

	.blog-design-masonry {

		.entry-title {
			font-size: 22px;
		}
	}

	.blog-design-mask {

		&.col-md-4,
		&.col-md-3,
		&.col-md-2 {
			width: 100%;
		}
	}

	// ------------------------------------------
	// PROMO BANNERS
	// ------------------------------------------ 

	.promo-banner {
		display: block;

		.banner-image {

			img {
				width: 100%;
			}
		}
	}

	// ------------------------------------------
	// PRODUCTS TABS
	// ------------------------------------------ 

	// .basel-products-element {

	// 	> .row {
	// 		margin-left: -5px;
 //    		margin-right: -5px;
	// 	}

	// 	.product-grid-item {
	// 		padding-left: 5px;
 //    		padding-right: 5px;
	// 	}

	// 	.pagination-arrows {

	// 		.product-grid-item {
	// 			margin-bottom: 30px;
	// 		}
	// 	}
	// }

	.products-footer {

		.basel-products-load-next,
		.basel-products-load-prev {
			width: 42px;
			background-color: white;
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
		    border: none;

		    &:after {
		    	font-size: 18px;
		    	line-height: 42px;
		    }
		}

		&.show-arrow {

			.basel-products-load-next,
			.basel-products-load-prev {

				&.disabled {
					opacity: 0.5;

					&:focus,
					&:hover {
						opacity: 0.5;
					}
				}

				&:hover {
			    	opacity: 1;
				}
			}
		}
	}


	// ------------------------------------------
	// FOOTER
	// ------------------------------------------ 

	.footer-container {

		.wpb_column {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom:0;
			}
		}
	}

	// ------------------------------------------
	// PAGE 404
	// ------------------------------------------ 

	.error404 {

		.page-header {

			&:before {
				top: -60px;
				font-size: 260px;
			}
		}

		.page-title {
			padding: 70px 0;
			font-size:50px;
		}

		.page-content {

			h2 {
				font-size: 24px;
			}

			h6 {
				font-size:14px;
			}
		}
	}

	// ------------------------------------------
	// ADMIN BAR
	// ------------------------------------------ 


	.sticky-header-prepared {

		&.admin-bar {

			.header-shop,
			.header-split {
				top: 46px;
			}
		}

		&.basel-top-bar-on {

			&.admin-bar {

				.header-shop,
				.header-split {
					top: 42px;
					
					&.act-scroll {
						top: 46px;
					}
				}
			}
		}
	}


	.enable-sticky-header {

		&.basel-header-overlap {

			&.admin-bar {

				.main-header {
					top: 46px;
				}
			}

			&.basel-top-bar-on {

				&.admin-bar {

					.main-header {
						top: 42px;
						
						&.act-scroll {
							top: 46px;
						}
					}
				}
			}
		}
	}

	.admin-bar {

		.sticky-header.act-scroll {
			top: 46px;
		}

		&.sticky-navigation-only.sticky-header-prepared {
			
			.main-header {

				.navigation-wrap {
					top: 46px;
				}
			}
		}

		.cart-widget-side,
		.mobile-nav {
			top: 46px;
		}
	}

	// ------------------------------------------
	// OWL PLAGIN
	// ------------------------------------------ 

	.owl-theme {

		.owl-controls {

			.owl-buttons {
				
				> div {
					background-color: white;
					box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
					filter: Alpha(Opacity=1);
    				opacity: 1;

    				&.disabled {
    					color: rgba(0, 0, 0, 0.3);
    				}

				    &.owl-next {
						right:20px;
					}

					&.owl-prev  {
						left:20px;
					}

    				&:before {
    					width: 38px;
					    font-size: 18px;
					    height: 38px;
					    line-height: 38px;
    				}
				}
			}
		}

		&:hover .owl-controls .owl-buttons div.owl-next {
			right:20px;
		}

		&:hover .owl-controls .owl-buttons div.owl-prev {
			left:20px;
		}
	}

	// ------------------------------------------
	// FORMS
	// ------------------------------------------ 

	.feedback-form {

	    > p {
	    	float: none;
		    width: auto;
	    }
	}

	// ------------------------------------------
	// COOKIES POPUP
	// ------------------------------------------ 

	.basel-cookies-inner {
		flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;

		.cookies-info-text {
			padding-right: 0;
			text-align: center;
		}

		.cookies-buttons {
			margin-top: 15px;
		}
	}

	// ------------------------------------------
	// MY ACCOUNT
	// ------------------------------------------ 

	.woocommerce-MyAccount-content,
	.basel-my-account-sidebar {
		float: none;
		width: 100%;
	}
}

/* ------------------------------------------------------------------------------------------------
* Responsive web design, > 600px (MOBILE)
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 600px) {

	.enable-sticky-header {

		&.basel-header-overlap {

			&.basel-top-bar-on.admin-bar,
			&.admin-bar {

				.main-header {
					-webkit-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
			        -moz-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
			        -o-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
			        transition:background 0.15s ease-in-out, top 0.15s ease-in-out;

					&.act-scroll {
						top: 0px;
					}
				}
			}
		}
	}


	.sticky-header-prepared {

		&.basel-top-bar-on.admin-bar,
		&.admin-bar {

			.header-shop,
			.header-split {
				-webkit-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
		        -moz-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
		        -o-transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
		        transition:background 0.15s ease-in-out, top 0.15s ease-in-out;
				
				&.act-scroll {
					top: 0;
				}
			}
		}
	}

	.admin-bar {

		.sticky-header.act-scroll {
			top: 0px;
		}

		&.sticky-navigation-only.sticky-header-prepared {
			
			.main-header {

				&.act-scroll {
					
					.navigation-wrap {
						top: 0px;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------------------------------------------------
* Responsive web design, > 480px (MOBILE)
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 480px) {

	// ------------------------------------------
	// HEADER
	// ------------------------------------------ 

	.main-header {

		.right-column {
			padding-left:0px;
		}

		.site-logo {
			padding-right:5px;
		}

		.left-side {
			padding-right:0px;
		}

		&.header-split {

			.site-logo {
				padding-right: 0;

				img {
					padding-left: 5px;
					padding-right: 5px;
				}
			}	

			.right-column {

				> div {
					margin-left: 0;
					margin-right: 0;
				}
			}		
		}

		&.header-menu-top {
			
			.site-logo {
				padding-left:0px;
				padding-right:0px;
			}			
		}
	}

	.cart-widget-side {
		width: 300px;

		.widget-heading {

			.widget-title {
				font-size: 18px;
			}
		}
	}

	// ------------------------------------------
	// PRODUCT HOVERS
	// ------------------------------------------ 

	.basel-hover-excerpt {
		
		.product-excerpt {
			display: none;
		}

		.btn-add {
			margin-top: 5px;
		}
	}

	// ------------------------------------------
	// CART
	// ------------------------------------------ 

	.woocommerce {
	
		.cart-actions {

			.coupon {

  				.input-text {
  					width: 100%;
  				}

  				label {
					width: 100%;
				}
			}

			.button {
				width: 100%;
			}
		}

		.cart-collaterals {

			.cart_totals {

				.responsive-table {
					background-color: transparent;
					padding:0;
				}
			}
		}

		.addresses {
			
			div.address {
				float: none;
				width: 100%;
			}

			div.address.col-1 {
				margin-bottom: 20px;
			}
		}
	}

	// ------------------------------------------
	// LOGIN FORM IN CHECKOUT
	// ------------------------------------------ 

	.woocommerce-checkout {

		.login {

			.lost_password {
			    margin-bottom: 10px;
			    margin-top: -10px;
			    text-align: left;
			}
		}
	}


	// ------------------------------------------
	// THANK YOU PAGE
	// ------------------------------------------

	.woocommerce {
		
		ul.woocommerce-thankyou-order-details,
		ul.wc-bacs-bank-details {

		    li {
		    	flex-basis:100%;
		    	-webkit-flex-basis:100%;
		    	-ms-flex-basis:100%;
				border-right:none;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #dfdfdf;
		    } 
		}
	}

	// ------------------------------------------
	// SHOP
	// ------------------------------------------ 

	.woocommerce-pagination {
		text-align: center;
	} 

	.category-grid-item {

		&.col-xs-6 {
			width: 100%;
		}
	}

	// ------------------------------------------
	// SINGLE PRODUCT PAGE IN SHOP
	// ------------------------------------------ 

	.single-product-content {

		.comment-form {

			.comment-form-author,
			.comment-form-email {
				float:none;
				width: 100%;
				padding-right: 0px;
				padding-left: 0px;
			}

			.comment-form-author {
				margin-bottom: 15px;
			}

			.comment-form-email {
				margin-bottom: 30px;
			}

			.form-submit {

				input[type="submit"] {
					width: 100%;
				}
			}

			.stars {
				display: block;
    			margin-left: 0;

    			span {

    				a {
    					margin-top: 10px;
    				}
    			}
			}
		}

		.commentlist {

			.comment-text {
				
				.star-rating {
					float: none;
				}

				.meta {
					display: block;
					margin-bottom:10px;
				}
			}
		}
	}

	// ------------------------------------------
	// RESPONSIVE BLOG
	// ------------------------------------------ 

	.blog-post-loop {

		.entry-title {
			font-size: 22px;
		}
	}


	.blog-post-loop.post-single-page {

		.entry-title {
			font-size: 24px;
		}
	}
 
	// ------------------------------------------
	// ELEMENTS
	// ------------------------------------------ 
	
	//****  carousel with gadget backgrounds  ****//

	.macbook-carousel,
	.iphone-carousel {
		background: none;
		width: auto;
		height: auto;

		.vc_images_carousel {
			margin: auto;
			height: auto;

			img {
				width: 100%;
			}
		}
	}

	//****  widget title  ****//

	.title-wrapper { 
		
		&.basel-title-size-extra-large,
		&.basel-title-size-large {
			
			.title {
				font-size:20px;
			}

			.title-subtitle {
				font-size:16px;
			}

			.title-after_title {
				font-size:12px;
			}
		}
	}

	// ------------------------------------------
	// PAGE 404
	// ------------------------------------------ 

	.error404 {

		.page-header {

			&:before {
				top: -40px;
    			font-size: 164px;
			}
		}

		.page-title {
			padding: 40px 0;
   			font-size: 30px;
		}
	}
}