
/** ------------------------------------------------------------------------------------------------
* MAX-WIDTH: 1024px
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 1024px) {

	// ------------------------------------------
	// VERTICAL HEADER
	// ------------------------------------------ 

	.global-header-vertical {

		p.demo_store {
			left:0px;
		}
	}

	.header-vertical {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 0;

		.vertical-header-top {
			display: table;
    		width: 100%;
    		min-height: inherit;
		}

		.navigation-wrap,
		.vertical-header-bottom {
			display: none;
		}

		.search-button {
			display: none;
		}

		.mobile-nav-icon {
			display: inline-block;
		}
	}
}

/** ------------------------------------------------------------------------------------------------
* MAX-WIDTH: 1024px and MIN-WIDTH 991px
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 1024px) and (min-width: 991px) {

	.header-shop {

		.main-nav {
		    display:none;
		}

		.site-logo {
			padding-left:0px;
			text-align:left;
		}

		.mobile-nav-icon {
		    display:inline-block;
		}

		.shopping-cart {

			.dropdown-wrap-cat {
				display: none;
			}

			&.basel-cart-design-1 {

				> a {
					position: relative;
					text-align: center;

					.basel-cart-number {
						padding: 0;
						margin-left: 0;
						font-size: 10px;
						width: 15px;
						height: 15px;
						line-height:15px;
						text-align: center;
						border-radius: 50%;
						background-color: #F7F7F7;
						color: #7E7E7E;
						position: absolute;
						top: -2px;
			    		left: 19px;
					}

					.basel-cart-subtotal {
						margin-left:2px;
						font-size:12px;
					}

					.subtotal-divider {
						display:none;
					}

					.basel-cart-subtotal {
						display:none;
					}
				}
			}

			&.basel-cart-design-2 {
				
				.basel-cart-subtotal {
					display:none;
				}
			}
		}
	}

	.mobile-nav {
	    display:block;
	}

	.header-split {

		.main-nav {
			display: none;
		}

		.site-logo {
			position: static;
		}

		.right-column,
		.site-logo {
			flex-basis: 33.333%;
			-ms-flex-basis: 33.333%;
			-webkit-flex-basis: 33.333%;
		    flex-grow: 1;
		    -ms-flex-grow: 1;
		    -webkit-flex-grow: 1;
		}

		.mobile-nav-icon {
			display: inline-block;
		}
	}

	// ------------------------------------------
	// MENU PRICE
	// ------------------------------------------ 

	.basel-menu-price {

		.menu-price-description {
			-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		}
	}
}

/** ------------------------------------------------------------------------------------------------
* MAX-WIDTH: 992px
* ------------------------------------------------------------------------------------------------ */

@media (max-width: 991px) {
	
	html,
	body {
		max-width: 100%;
	}

	// ------------------------------------------
	// PAGE TITLE
	// ------------------------------------------ 

	//****  title style on all pages  ****//

	.page-title {

		.entry-header {
			text-align: center;

			.entry-title {
				float: none;
				margin-bottom: 0;
				line-height: 1.2;
			}

			.breadcrumbs {
				margin-top: 0px;
				display: block;
				line-height: 2;
				float: none;
			}
		}
	}

	.title-size-default {
		padding: 20px 0;

		.entry-title,
		h1 {
			font-size: 34px;
		}
	}

	.title-size-large {
		padding: 40px 0;

		.entry-title,
		h1 {
			font-size: 38px;
		}
	}

	//****  title shop style  ****//

	.title-shop {

		&.without-title {

			&.title-size-default,
			&.title-size-large {
				padding: 0px 0;
			}
		}

		&.title-design-default {
			text-align: center;

			.nav-shop {

				h1 {
					float: none;
					margin-left:0px;
				}

				.basel-back-btn + h1 + .basel-show-categories + .basel-product-categories,
				.basel-back-btn + .basel-show-categories + .basel-product-categories {
					padding-left:0px;
				}

				.basel-back-btn + h1 {
					padding-left:50px;
					padding-right:50px;
				}
			}
		}

		&.title-size-large.title-design-centered {

			.nav-shop {

				h1 {
					line-height:50px;
				}
			}
		}

		//****  batton back on shop title  ****//

		.basel-back-btn {
			margin-top:0px;
			top: 10px;
		}
	}

	//****  batton back on shop without title  ****//

	.without-title {
		
		.basel-back-btn {
			top: 2px;
		}
	}

	//****  title with overlap header  ****//

	.basel-header-overlap {

		.title-size-small {
			padding: 70px 0 30px;
		}

		.title-size-default,
		.title-size-large,
		.title-size-default.title-shop.without-title,
		.title-size-large.title-shop.without-title {
			padding: 100px 0 60px;
		}
	}

	//****  batton back on shop title  ****//

	.title-shop {

		&.title-design-centered {

			.basel-back-btn + h1 + .basel-show-categories + .basel-product-categories,
			.basel-back-btn + .basel-show-categories + .basel-product-categories {
				padding-left:0;
				padding-right:0;
			}
		}
	}

	// ------------------------------------------
	// MOBILE NAVIGATION
	// ------------------------------------------ 

	.document-ready {

		.mobile-nav {
			display: inline-block;
		}
	}

	// ------------------------------------------
	// TOPBAR
	// ------------------------------------------ 

	.topbar-wrapp {

		.topbar-menu {
			display: none;
		}

		.top-bar-left {
			text-align:center;
		}
	}

	// ------------------------------------------
	// MAIN HEADER
	// ------------------------------------------ 

	//MOBILE ICON DISPLAY

	.mobile-nav-icon {
		display:inline-block;
	}

	/**  RIGIHT COLUMN IN ALL HEADERS AND STIKY-HEADER CLONE  **/

	.right-column {

		.mobile-nav-icon {
			display:inline-block;
		}

		.search-button {
			display: none;
		}

		.header-links {
			display: none;
		}

		.wishlist-info-widget {
			margin-right: 0px;
		}

		.shopping-cart {

			.dropdown-wrap-cat {
				display: none;
			}

			&.basel-cart-design-1 {

				> a {
					position: relative;
					text-align: center;

					.basel-cart-totals {
						display: inline;
					}

					.basel-cart-number {
						padding: 0;
						margin-left: 0;
						font-size: 10px;
						width: 15px;
						height: 15px;
						line-height:15px;
						text-align: center;
						border-radius: 50%;
						background-color: #F7F7F7;
						color: #7E7E7E;
						position: absolute;
						top: -2px;
			    		left: 19px;
					}

					.basel-cart-subtotal {
						margin-left:2px;
						font-size:12px;
					}

					.subtotal-divider {
						display:none;
					}

					.basel-cart-subtotal {
						display:none;
					}
				}
			}

			&.basel-cart-design-2 {
				
				.basel-cart-subtotal {
					display:none;
				}
			}
		}
	}

	/**  MAIN HEADER  **/

	.main-header:not(.header-menu-top) {

		.site-logo {

			img {
				max-width: 100%;
			}
		}
	}

	.main-header {

		.right-column {
			width:50%;
		}

		.site-logo {
			width: 50%;
		}

		.navigation-wrap {
			display: none;
		}

		.widgetarea-head {
			display: none;
		}

		.secondary-header {
			display: none;
		}

		.main-nav {
			display: none;
		}

		&.header-categories {
			padding-bottom: 0px;
		}

		//**  ALL HEADERS  **//

		&.header-logo-center {

			.site-logo {
				padding-left:0px;
				text-align: left;
			}
		}

		&.header-menu-top {
			padding: 0;

			.navigation-wrap {
				display: block;
				padding: 10px 0;

				.menu {
					display: none;
				}
			}

			.site-logo {
				width: auto;
			    padding-top: 0px;
			    padding-bottom: 0px;
			}

			.wishlist-info-widget {
				margin-right: 0;
			}
		}

		&.header-shop {

			.site-logo {
				padding-left:0px;
				text-align:left;
			}

			.header-links {
				display:none;
			}
		}

		&.header-split {

			.site-logo {
				position: static;
				width:auto;
			}

			.wishlist-info-widget {
				display: none;
			}

			.right-column {
				width:auto;
				flex:1 0 0;
				-ms-flex:1 0 0;
				-webkit-flex:1 0 0;
			}
		}
	}

	// ------------------------------------------
	// SCROLL HEADER
	// ------------------------------------------ 

	.sticky-header {

		.right-column {
			width:50%;
		}

		.site-logo {
			width: 50%;

			img {
				max-height:55px;
				max-width: 100%;
			}
		}
			
		.main-nav {
			display: none;
		}
	}

	// ------------------------------------------
	// PRODUCT HOVERS
	// ------------------------------------------ 

	.basel-hover-excerpt {

		.product-element-bottom {
			border: none;
			padding:0;
		    min-height: 0;
		}

		.btn-add {
			margin-top: 0;
		}

		.product-title {
			line-height: 1.2;

			a {
				font-size: 15px;
			}
		}
	}

	// ------------------------------------------
	// WOOCOMMERCE MESSAGE
	// ------------------------------------------ 

	.woocommerce-message {

	    .button {
	    	display: block;
	    	margin-top: 5px;
		    margin-bottom: 5px;
		    font-weight: bold;
	    	background-color: transparent;
	    	padding: 0;
	    	border:none;
	    	text-decoration: underline;
	    	color: #328C34;

	    	&:hover,
			&:focus { 
				background-color: transparent;
				color: #328C34;
			}
	    }
	}

	// ------------------------------------------
	// CART
	// ------------------------------------------ 

	.woocommerce {

		.shop_table {

			td {
				&.product-thumbnail {

					img {
						max-width:48px;
					}
				}
			}
		}

		.cart-collaterals {

			.cart_totals {
				float:none;
				width:100%;

				.wc-proceed-to-checkout {
					text-align:center;

					a {
						display: block;
						padding: 20px 0;
						font-size: 18px;
					}
				}
			}

			.cross-sells {
				display: none;
			}
		}
	}

	// ------------------------------------------
	// CHECKOUT
	// ------------------------------------------ 

	.woocommerce {

		.checkout-order-review {
			padding: 30px 15px 15px 15px;

    		.responsive-table {
    			padding: 8px 5px 0px 5px;
    		}
		}
	}

	// ------------------------------------------
	// LOGIN & REGISTER
	// ------------------------------------------ 

	.col-register {
		padding-left:20px;
		padding-right:0px;
	}

	.col-login {
		padding-left:0px;
		padding-right:20px;
	}

	.basel-register-tabs {

		.col-register {
			padding-left:0px;
			padding-right:20px;
		}

		.col-register-text {
			padding-left:20px;
			padding-right:0px;
		}
	}

	// ------------------------------------------
	// WISHLIST
	// ------------------------------------------ 

	.woocommerce {

		table.wishlist_table {

			thead {

				th {
					font-size: 14px;
				}
			}

			tbody {

				td {
					padding:15px 5px;

					&.product-name {
						
						> a {
							font-size:12px;
						}
					}

					&.product-price {

						span {
							font-size:14px;
						}
					}
				}
			}
		}

		.wishlist-title {

			h2 {
				font-size:22px;
			}
		}
	}

	// ------------------------------------------
	// SHOP PAGE TOOLS
	// ------------------------------------------ 

	.shop-loop-head {
		text-align:center;
		margin-top:-20px;
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items:center;
	    justify-content: space-between;
		display: -webkit-flex;
	    -webkit-flex-wrap: wrap;
	    -webkit-flex-direction: row;
	    -webkit-justify-content: space-between;
	    -webkit-align-items:center;
	    display: -ms-flex;
	    -ms-flex-wrap: wrap;
	    -ms-flex-direction: row;
	    -ms-justify-content: space-between;
	    -ms-align-items:center;

	    .basel-filter-buttons {
	    	margin-left:0px;
	    	display: block;
	    	order: 1;
    		-ms-order: 1;
    		-webkit-order: 1;
	    }

		.woocommerce-breadcrumb {
			float:none;
			display: block;
		}

		.woocommerce-result-count {
			display: none;
		}

		.woocommerce-ordering {
    		order: 1;
    		-ms-order: 1;
    		-webkit-order: 1;
    		position: static;
    		margin-bottom: 10px;
    		margin-left: 0px;
		}
	}

	// ------------------------------------------
	// SINGLE PRODUCT PAGE IN SHOP
	// ------------------------------------------ 

	.single-product-content {

		.product-images {

			&.col-sm-8,
			&.col-sm-6,
			&.col-sm-4 {

				.thumbs-position-left {

					.col-md-3 {
						padding-left: 15px;
    					padding-right: 15px;
					}
				}
			}

			.thumbs-position-left {

				.woocommerce-main-image {
					padding: 0 3px 0 0;
				}
			}
		}

		.entry-summary {
			
			.yith-wcwl-add-to-wishlist {
			    margin-bottom: 5px;
			}
		}

		.variations_form + .yith-wcwl-add-to-wishlist {
			margin-bottom: 15px;
			margin-top: 0px;

		}

		.variations {

			td {

				&.value {
					position:relative;

					&.with-swatches {

						.reset_variations {
							right: auto;
							left:0px;
						}
					}
				}
			}

			.reset_variations {
				position:absolute;
			    right: 0px;
				bottom: -20px;
				margin-left:0px;
				margin-right:0px;
			}
		}

		.single_variation {
			margin-top: 10px;
		}

		.entry-title {
			font-size:32px;
		}

		#comments {
		    width: auto;
		    padding-right: 0px;
		    padding-bottom: 30px;
		    float: none;
		    border-bottom: 1px solid #efefef;
		}

		#review_form_wrapper {
		    float: none;
		    width: auto;
		    border-left: none;
		    border-bottom: none;
		    padding-top: 35px;
		    padding-bottom: 0px;
		    padding-left: 0px;
		}

		.comment-form {

			input[type="text"] {
				max-width:100%;
			}
		}
	}

	.product-design-default,
	.product-design-compact {
		
		.product-additional-galleries {
			text-align: left;

			> div {
				margin-left: 0;
				margin-right: 0;
			}

			.product-video-button {
				margin-right: 15px;
			}
		}		
	}

	.product-design-alt,
	.product-design-sticky {

		.variations_form + .yith-wcwl-add-to-wishlist {
    		margin-bottom: 20px;
		}

		.variations {

			td {

				&.value {

					&.with-swatches {

						.reset_variations {
			    			left:50%;
						}
					}
				}
			}

			.reset_variations {
			    right: auto;
			    left:50%;
				margin-left:-21px;
			}
		}
	}

	.product-design-compact {

		#comments {
		    padding-bottom: 0px;
		    border-bottom: 0;
		}

		#review_form_wrapper {
			padding-top: 0;
		}
	}

	.product-with-attachments {
		
		.thumbs-position-left {

			+ .product-additional-galleries {
				margin-left: 0;
			}
		}
	}

	.single-breadcrumbs-wrapper {
		margin-bottom: 30px;

		.woocommerce-breadcrumb {
			display:none;
		}
	}

	// ------------------------------------------
	// QUICK VIEW
	// ------------------------------------------ 

	.popup-quick-view {

		.single-product-content {

			.variations {

				td.value {
					position: static;
				}
			}
		}
	}

	// ------------------------------------------
	// BLOG
	// ------------------------------------------ 

	.blog-post-loop,
	.blog-post-loop.post-single-page {

		.entry-thumbnail {
			margin-bottom:-25px;
			margin-right: 0px;
			float: none;
			width: auto;
		}

		.entry-title {
			margin-bottom:10px;
			font-size: 24px;
		}

		.entry-meta {
			margin-bottom:10px;

			li {

				&.meta-tags {
					display: none;
				}

				& {
					.edit-link {
						display: none;
					}
				}
			}
		}
	}

	.blog-post-loop.post-single-page {

		.entry-title {
			font-size:26px;
		}
	}

	.blog-design-default {

		.meta-post-categories {
			margin-bottom: 5px;
		}

		.post-date {
			top:40px;
		}
	}

	.blog-design-default-alt {

		.entry-thumbnail {
			margin-bottom: 15px;
		}

		.entry-content {
			padding:0;
		}

		.entry-meta {
			margin-bottom: 15px;
		}
	}

	.blog-design-default-alt.post-single-page {

		.entry-thumbnail {
			margin-bottom: 15px;
		}
	}

	.blog-design-masonry {

		.entry-title {
			font-size:20px;
		}
	}

	.blog-design-masonry.post-single-page,
	.blog-post-loop.blog-design-masonry.post-single-page.format-gallery {

		.post-date {
			left:10px;
		}
	}

	.blog-design-mask {

		.entry-thumbnail {
			margin-bottom: 0;
		}

		h3.entry-title {
			font-size: 20px;
		}

		.entry-meta {
			margin-bottom: 0;
		}

		.has-post-thumbnail {

			.post-mask {
				padding: 15px;
			}
		}

		&.col-md-4,
		&.col-md-3,
		&.col-md-2 {
			width: 50%;
		}
	}

	/** format link **/

	.format-link {

		.entry-content {

			a {
				padding: 20px;
				font-size: 18px;
			}
		}
	}

	/** format quote default **/

	.blog-post-loop.format-quote {

		.entry-thumbnail {
			margin-bottom: 15px;
		}

		.post-date {
			display: none;
		}

		.post-img-wrapp {

			> a {

			    img {
					border-radius: 50%;
					max-width: 120px;
				}
			}
		}

		.entry-content {

			blockquote {
				font-size: 18px;

				> p {
					font-size: 18px;
				}

				cite,
				cite a {
					font-size: 12px;
				}
			}
		}
	}

	.comments-area {

		.comment-list {

			li {

				.comment-body {
					padding-left: 65px;
				}

				.comment-author {

					> img {
						max-width:50px;
						border-radius:50px;
					}
				}

				> .children {
					padding-left: 20px;
				}

			}
		}

		.comment-respond {

			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				display:block;
				width:100%;
				padding-left:0px;
				padding-right:0px;
			}
		}
	}

	// ------------------------------------------
	// ELEMENTS
	// ------------------------------------------ 

	//****  widget title  ****//

	.title-wrapper {

	    &.basel-title-style-bordered {

	        .liner-continer {
	        	display:block;

	        	.left-line,
	        	.right-line {
	        		display: none;
	        	}

	            .title {
					white-space: normal;
					max-width:none;
					overflow-x: visible;
	            }
	        }

	        .title-after_title {
	        	margin-top:-10px;
	        }
	    }

	    &.basel-title-size-extra-large {
			
			.title {
				font-size:28px;
			}

			.title-subtitle {
				font-size:20px;
			}

	    }

		&.basel-title-size-large {
			
			.title {
				font-size:24px;
			}

			.title-subtitle {
				font-size:18px;
			}

			.title-after_title {
				font-size:14px;
			}
		}

		&.basel-title-size-default {
			
			.title {
				font-size:20px;
			}

			.title-subtitle {
				font-size:16px;
			}

			.title-after_title {
				font-size:12px;
			}
		}
	}

	//****  scroll hidden  ****//

	.scrollToTop {
		display:none;
	}

	//****  testimonials  ****//

	.testimonials {
		
		&.testimonials-grid {
       	flex-direction: column;
        	-webkit-flex-direction: column;
        	-ms-flex-direction: column;

			.testimonial {
            -webkit-flex-basis: 100%;
            -ms-flex-basis: 100%;
            flex-basis: 100%;
         }
		}
	}

	// ------------------------------------------
	// COMPARE
	// ------------------------------------------ 

	.compare-opened {
    	overflow: auto;
	}

	// ------------------------------------------
	// CATEGORY SHOP
	// ------------------------------------------ 

	.basel-show-categories {
		display:inline-block;
	}

	.basel-product-categories {
		display:none;
		background-color:#F9F9F9;

		> li {
			display: block;

			> a {
				display: block;
				line-height: 40px;
				padding-left: 0px;
				padding-right: 0px;

				&:after {
					content:none;
				}
			}

			&.current-cat,
			&.current-cat-parent {

				> a {
					color:$primary-color;
				}
			}
		}

		li {
			position: relative;

			a {
				text-transform: uppercase;
				letter-spacing: 1px;
				text-decoration: none;
				position: relative;
				line-height: 1.6;
			    padding-top: 9px;
			    padding-bottom: 9px;

				&:active {
					background-color: $primary-color;
				}

				&:after {
					content:none;
	    		}					
			}

			&.has-sub {

				> a {
					padding-left:25px;
					padding-right:25px;
				}
			}

			.children {
				position:relative;
				display:none;
				top:auto;
				left: auto;
				width: 100%;
				margin-top:5px;
				background-color:rgb(243, 243, 243);
				opacity:1;
				visibility: visible;
				box-shadow:none;
				-webkit-transition: none;
			    -moz-transition: none;
			    -o-transition: none;
			    transition: none;

				-webkit-transform: none;
				-moz-transform: none;
				-ms-transform: none;
				-sand-transform: none;
				-o-transform: none;
				transform: none;

				li {
					padding-left: 0px;
					padding-right: 0px;

					a {
						padding-top: 0px;
						padding-bottom: 0px;
						line-height: 40px;
						display:block;
						font-size: 14px;
					}
				}

				.children {
					background-color:#ECECEC;
					top:auto;
					left: auto;
					-webkit-transform: none;
					-moz-transform: none;
					-ms-transform: none;
					-sand-transform: none;
					-o-transform: none;
					transform: none;

					&:before {
						content: "\f0d8";
						color:#ECECEC; 
					}
				}

				&:before {
					content: "\f0d8";
					position: absolute;
					left: 50%;
					margin-left: -7.5px;
					top: -5px;
					line-height: 0;
					font-family: "FontAwesome";
					font-size: 26px;
					color: rgb(243, 243, 243);
				}
			}
		}

		.color-scheme-light & {
			background-color:rgba(0,0,0,0.4);

			li {

				.children {
					background-color:rgba(0,0,0,0.4);

					&:before {
						color:rgba(0,0,0,0.4);
					}
				}

				&.current-cat,
				&.current-cat-parent {

					> a {
						color:$primary-color;
					}
				}
			}
		}
	}

	//****  design center masonry  ****//

	.categories-style-masonry-first {

		.cat-design-center {

			&:first-child {

				.hover-mask {

					h3 {
						font-size: 22px;
					}
				}

			}
		}
	}
	
	// ------------------------------------------
	// MENU PRICE
	// ------------------------------------------ 

	.basel-menu-price {

		.menu-price-description {
			-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		}
	}

	// ------------------------------------------
	// INSTAGRAM
	// ------------------------------------------ 


	.instagram-widget {

		.instagram-content {
			display: none;
		}
	}

	// ------------------------------------------
	// FOOTER
	// ------------------------------------------ 

	.copyrights-wrapper {

		.min-footer {

			> div {
				display: block;
				text-align: center;
				width: 100%;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0px;
				}
			}

			.social-icons {
				text-align:center;
			}
		}
	}
}

/** ------------------------------------------------------------------------------------------------
* MIN-WIDTH: 768px, MAX-WIDTH: 992px
* ------------------------------------------------------------------------------------------------ */

@media (min-width: 768px) and (max-width: 991px) {

	// ------------------------------------------
	// ELEMENTS
	// ------------------------------------------ 

	//****  carousel with gadget backgrounds  ****//

	.macbook-carousel {
		width: 700px;
		height: 404px;

		.vc_images_carousel {
			margin: 40px 130px 40px 130px;
		}
	}

	.iphone-carousel {
		width: 350px;
  		height: 700px;

		.vc_images_carousel {
			margin: 89px 28px 0 29px;
  			height: 522px;
		}
	}
}
